/*=======================================================*/
.alert-info {
  background-color: #72a84f !important;
  border-color: #72a84f !important;
}
.jFiler-input {
  margin: 0px!important;
  border-radius: 0 0 1rem 1rem!important;
}
.box-image {
  border-radius: 1rem 1rem 0 0!important;
}
.box-file {
  border: 7px solid #72a84f;
  border-radius: 0 0 1rem 1rem!important;
}
.box-picture {
  width: 100%!important;
  height: 30rem!important;
}
