.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-picture {
  width: 100rem !important;
  height: 20rem !important;
}
.box-list {
  width: 40rem !important;
  height: 20rem!important;
}
.fileuploader {
  width: 100%!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.note-editing-area {
  word-wrap: break-word;
}
.jFiler {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.jFiler-theme-default .jFiler-input {
  margin: 0px!important;
}
#descripcion_evento {
  margin-top: 25px;
  min-height: 150px;
}
#uno_picture {
  margin-top: 15px;
  margin-bottom: 20px;
}
#event_list .btnActivar,
#event_list .btnActivarcorporativo {
  color: #72a84f;
  cursor: pointer;
}
#event_list td {
  line-height: 5;
}
ul.list-date > li > button.active,
ul.list-date > li > button:hover,
ul.list-date > li > button:focus {
  color: #707170;
  background-color: #FFF;
}
ul.list-date > li > button {
  width: 60px;
  height: 30px;
  border-radius: 0;
  border: 1px solid #707170;
  background-color: #707170;
  color: #FFF;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}
table .badge {
  background-color: #72a84f !important;
}
.btnlink.active {
  color: #FFF;
  background-color: #72a84f;
}
