.jFiler-input {
  margin: 0px!important;
  border: none!important;
}
.box-image {
  border-radius: 1rem 1rem 0 0!important;
}
.box-file {
  border: 7px solid #72a84f;
  border-radius: 0 0 1rem 1rem!important;
}
div.box-image {
  background-color: #72a84f;
  position: relative;
  padding-top: 97%!important;
}
div.box-image > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  display: block;
}
div.box-image > label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
div.box-image > label > i {
  padding: 10px;
  background-color: rgba(114, 168, 79, 0.5);
}
div.box-image,
div.box-file {
  padding: 0px;
}
