.jFiler-input {
  margin: 0px!important;
  border: none!important;
}
.box-file,
.box-image,
.p_picture {
  width: 370px;
}
.box-image {
  height: 370px;
  display: table-cell;
  vertical-align: middle;
}
.box-image {
  border-radius: 1rem 1rem 0 0!important;
  padding: 0;
  background-color: #72a84f;
}
.box-file {
  border: 7px solid #72a84f !important;
  border-radius: 0 0 1rem 1rem!important;
  padding: 0;
}
.box-image > img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 370px;
}
.box-image > img,
.p_picture {
  margin-left: auto;
  margin-right: auto;
}
.nav-tabs {
  border: none!important;
}
table img {
  max-width: 120px;
  height: auto;
}
