.w-100 {
  width: 100%;
}
.w-200 {
  width: 200%;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.overlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0 5px -5px #333333;
}
.btn-light {
  margin: .25rem;
  border: 1px solid #72a84f;
  color: #72a84f;
  height: auto !important;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  border: 1px solid #5d8940;
  color: #5d8940;
}
.btn-bold {
  margin: .25rem;
  border: 1px solid #72a84f;
  color: #FFF;
  background-color: #72a84f;
  height: 30px;
  height: auto !important;
}
.btn-bold:hover,
.btn-bold:focus,
.btn-bold:active {
  border: 1px solid #5d8940;
  background-color: #5d8940;
  color: #FFF;
}
/*===== Habitaciones =====*/
#gridhabitaciones,
#gridhabitacion {
  padding: 50px 0;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}
#gridhabitaciones > .col-xs-11.col-md-10,
#gridhabitacion > .col-xs-11.col-md-10 {
  overflow: hidden;
  padding: 0 !important;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item {
  width: 300px;
  height: 300px;
  margin: .25rem;
  display: flex;
  align-items: end!important;
  justify-content: end!important;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/habitaciones/background_name.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom!important;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item > div > p {
  padding: 1rem 0;
  max-width: 120px;
  margin: 0 auto !important;
  color: #FFF;
  font-family: mtcorsva;
  font-size: 3rem;
  line-height: 2.5rem;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item > div {
  height: 70px;
  -webkit-transition: height 1s;
  transition: height 1s;
  align-self: flex-end !important;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item > div:hover {
  height: 300px;
  -webkit-transition: height 1s;
  transition: height 1s;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item > div > a {
  height: 0;
  color: #FFF;
  overflow: hidden;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div:nth-child(1) > div.item > div:hover > a {
  height: 33px;
  border: 1px#FFF solid;
  padding: .5rem 1.5rem;
}
/*===== Habitacion =====*/
#bth {
  margin-top: 25px;
}
#bth > ul {
  display: -webkit-flex !important;
  -webkit-flex-wrap: wrap!important;
  -webkit-justify-content: center!important;
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
  margin: 0!important;
  width: 100%!important;
}
#detailroom {
  padding: 40px;
}
#detailroom > .row {
  border: 1px #72a84f solid;
  height: 100%;
  overflow: hidden;
}
#nombre {
  color: #72a84f !important;
}
#detalles > ul,
#comodidades > ul {
  list-style: none;
  padding-left: 0!important;
}
#comodidades .background_img.ico {
  background-size: contain;
  padding: 0px;
}
#comodidades .ico1 {
  background-image: url(../img/habitaciones/habitacion_icon1.svg);
}
#comodidades .ico2 {
  background-image: url(../img/habitaciones/habitacion_icon2.svg);
}
#comodidades .ico3 {
  background-image: url(../img/habitaciones/habitacion_icon3.svg);
}
#comodidades .ico4 {
  background-image: url(../img/habitaciones/habitacion_icon4.svg);
}
#comodidades .ico5 {
  background-image: url(../img/habitaciones/habitacion_icon5.svg);
}
#comodidades .ico6 {
  background-image: url(../img/habitaciones/habitacion_icon6.svg);
}
#comodidades .ico7 {
  background-image: url(../img/habitaciones/habitacion_icon7.svg);
}
#comodidades .ico8 {
  background-image: url(../img/habitaciones/habitacion_icon8.svg);
}
#comodidades > ul,
#comodidades > ul > li {
  display: inline-block;
}
#comodidades > ul {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#comodidades > ul,
#bth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
#comodidades > ul > li {
  width: 35px;
  height: 35px;
  margin: .5rem;
}
#comodidades > ul > li:nth-child(9) {
  display: none;
}
#back > .btn-back,
#back > .btn-back:hover,
#back > .btn-back:focus,
#back > .btn-back:active {
  height: 35px;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  color: #707170;
}
#back > .btn-back > i {
  width: 35px;
  height: 35px;
  background-image: url(../img/back.svg);
  background-size: 35px;
  background-position-y: 7px;
}
#galeria {
  margin: 0;
}
#galeria .col-xs-12 {
  padding: 0;
}
#galeria .carousel {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}
#galeria .carousel .item > img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
#galeria div.controls {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 70px;
  width: 140px;
  height: 70px;
  padding-top: 10px;
  text-align: center;
  background-color: rgba(112, 113, 112, 0.8);
  border-radius: 0px 0px 70px 70px;
}
#galeria div.controls > button.background_img {
  width: 40px;
  height: 23px;
  padding: 0;
  background-color: transparent;
  border: none;
}
#galeriabi {
  max-width: 100%!important;
}
#galeriabi .item {
  overflow: hidden;
}
#galeria .carousel .item > img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 991px) {
  #galeria .carousel .item > img {
    height: auto!important;
    width: 100%!important;
  }
}
@media (max-width: 575px) {
  #galeria .carousel {
    height: auto!important;
  }
}
#destacados > div {
  height: 25vh;
  padding: 0;
  overflow: hidden;
}
#destacados > div > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: .5rem 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#destacados > div:nth-child(2) {
  padding-left: .5rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  #destacados > div:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }
  #destacados > div > a {
    background-size: contain;
  }
}
@media (max-width: 575px) {
  #galeria div.controls {
    right: 15px;
  }
}
#thumbnials {
  display: none;
}
/*#gridhabitaciones > .col-xs-11.col-md-10 > div > div.item > div > a{
display: none;
visibility: hidden;
opacity: 0;
transition: visibility 0.5s, opacity 1s linear;
}
#gridhabitaciones > .col-xs-11.col-md-10 > div > div.item > div:hover > a{
display: block;
visibility: visible;
opacity: 1;
transition: visibility 0.5s, opacity 1s linear;
}*/
/*===== Habitaciones Acceso =====*/
/*.carousel-inner.onebyone-carosel{margin:auto;width:100%;}
.onebyone-carosel .active.left{left:-33.33%;}
.onebyone-carosel .active.right{left:33.33%;}
.onebyone-carosel .next{left:33.33%;}
.onebyone-carosel .prev{left:-33.33%;}*/
/*.collapsing{-webkit-transition:none;transition:none;}*/
/*===== =====*/
/*#accesos_habitaciones>div[class*='col-']{max-width:900px;padding:0;margin-left:auto;margin-right:auto;margin-top:-140px;float:initial;z-index:10;}
#accesos_habitaciones>div[class*='col-'].select{max-width:960px!important;}
.esp_ad{display:block;padding-top:140%;position:relative;overflow:hidden;cursor:pointer;}
.name_ad,.name_ad>a,.name_ad>a:hover,.name_ad>a:focus{color:#FFF;font-family:mtcorsva;}
.name_ad{position:absolute;bottom:0;left:0;right:0;margin-left:auto;margin-right:auto;width:250px!important;height:100px;font-size:24pt;line-height:24pt;text-align:left;padding:20pt 10pt;}
.name_ad{background-image:url(../img/habitaciones/background_name.svg);background-repeat:no-repeat;background-size:cover;background-position:bottom;}
#habitypes>.onebyone-carosel{padding-bottom: 10px;}
#habitypes>.onebyone-carosel .item>div[class*='col-']{padding-left:7.5px;padding-right:7.5px;margin-top:37px;max-width:300px;}
#habitypes>.onebyone-carosel .item>div[class*='col-'].select{padding-left:7.5px;padding-right:7.5px;margin-top:0;width:360px!important;max-width:initial;}
#habitypes>.onebyone-carosel .item>div[class*='col-'].select>a{box-shadow: 0 8px 4px -4px gray;}
#habitypes .left.carousel-control,#habitypes .right.carousel-control{width:33.3333333%;height:100%;display:block;position:absolute;top:0;}
#habitypes .left.carousel-control{left:0;}
#habitypes .right.carousel-control{right:0;}
ul.list-inline{margin-top:15px;}
label{font-weight:initial;}
#habitypes .controls{position:absolute;z-index:10;bottom:80px;right:-62.5px;padding: 30px 34px 30px 10px;width:70px;height:140px;background-color:#72a84f;border-radius:0px 70px 70px 0px;}
#habitypes .controls>button{width:23px;height:40px;background-color:transparent;border:none;}

#habitypes>.onebyone-carosel .item>div[class*='col-'].select .loading{color:#FFF;position:absolute;top:0;left:7.5px;width:~"calc(100% - 15px)";height:100%;background-color:rgba(0,0,0,.3);display:none;}
#habitypes>.onebyone-carosel .item>div[class*='col-'].select .loading>div{display:table;height:100%;width:100%;}
#habitypes>.onebyone-carosel .item>div[class*='col-'].select .loading>div>div{display:table-cell;vertical-align:middle;}
#habitypes>.onebyone-carosel .item>div[class*='col-'].select .loading>div>div>i{opacity:1;}
#habitypes>.onebyone-carosel .item>div[class*='col-'] .loading.text-center{display:none;}
#habitypes>.onebyone-carosel .item>div[class*='col-'] .loading>div>div>i{opacity:0;}

#habitypes.fdi-Carousel .item>div.unico{float:initial;right:0;left:0;margin-left:auto;margin-right:auto;display:block;}
#habitypes .controls.unico,#habitypes .carousel-control.unico{display:none!important;}*/
/*===== Habitaciones =====*/
/*#habitaciones{margin-top: -30px;}
#habitaciones>div[class*='col-']>div.row.flex{display:flex;max-width:1170px;padding:32pt;margin-left:auto;margin-right:auto;border:1px solid #72a84f;height:100%;width:100%;max-width:1170px;margin-left:auto;margin-right:auto;}
#habitaciones>div[class*='col-']>div.row.flex div[class*='col-']{padding:0px;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-']>.row{height: 100%;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-']>.row>div{display:table;height:100%;width:100%;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-']>.row>div>div{display:table-cell;vertical-align:middle;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] p.tituloitalic{color:@verdeppal;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] #detalles>ul{list-style:none;padding:0;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul{max-width:400px;margin-left:auto;margin-right:auto;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.row.list-unstyled>li[class*='col-']{height:50px;margin-top:25px;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.list-inline{margin-top:15px;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.list-inline>li>button,#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.list-inline>li>a{background-color:transparent;border:1px @verdeppal solid;color:@verdeppal;}
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.list-inline>li>button:hover,#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.list-inline>li>button:focus,
#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.list-inline>li>a:hover,#habitaciones>div[class*='col-']>div.row.flex>div[class*='col-'] ul.list-inline>li>a:focus
{background-color:@verdeppal;border:1px @verdeppal solid;color:#FFF;}
#habitaciones .background_img.ico{background-size:contain;padding:0px;}
#habitaciones .ico1{background-image:url(../img/habitaciones/habitacion_icon1.svg);}
#habitaciones .ico2{background-image:url(../img/habitaciones/habitacion_icon2.svg);}
#habitaciones .ico3{background-image:url(../img/habitaciones/habitacion_icon3.svg);}
#habitaciones .ico4{background-image:url(../img/habitaciones/habitacion_icon4.svg);}
#habitaciones .ico5{background-image:url(../img/habitaciones/habitacion_icon5.svg);}
#habitaciones .ico6{background-image:url(../img/habitaciones/habitacion_icon6.svg);}
#habitaciones .ico7{background-image:url(../img/habitaciones/habitacion_icon7.svg);}
#habitaciones .ico8{background-image:url(../img/habitaciones/habitacion_icon8.svg);}
#habitaciones .row_gal{max-width:600px;margin-left:auto;margin-right:auto;}

#habitaciones #galeriabi{position:absolute;top:0;left:0;}
#habitaciones .row_gal>div[class*='col-']>div{position:absolute;top:0;width:100%;height:100%;padding:5px;padding-bottom:0;}
#habitaciones .row_gal>div[class*='col-']>div>.background_img{height:100%;}
#habitaciones #galeriabi>.carousel-inner,#habitaciones #galeriabi>.carousel-inner>.item{height:100%;}
#habitaciones #galeriabi>.carousel-inner>.item>div{display:table;width:100%;height:100%;}
#habitaciones #galeriabi>.carousel-inner>.item>div>div{display:table-cell;vertical-align:middle;height:100%;}
#habitaciones #galeriabi>.carousel-inner>.item>div>div>div{width:100%;height:100%;background-size:auto 100%;display:block;}

#habitaciones .row_gal>div[class*='col-'] div.controls{position:absolute;z-index:10;top:5px;right:15px;width:140px;height:70px;padding-top:15px;text-align:center;background-color:rgba(112,113,112,.8);border-radius:0px 0px 70px 70px;}
#habitaciones .row_gal>div[class*='col-'] div.controls>button.background_img{width:40px;height:23px;padding:0;background-color:transparent;border:none;}
#habitaciones .row_gal:nth-child(2){margin-top:5px;}
#habitaciones .p3{padding-top:33.3333333%!important;position:relative;cursor:pointer;}
#habitaciones.row.row_gal #galeriabi .item{cursor:pointer;}

.vacio{color:@verdeppal;}
.fa.fa-picture-o.fa-4x{color:@verdeppal;margin-bottom:10px;}*/
/*===== Banner Restaurantes =====*/
#banner_restaurates > img[class*='col-'] {
  max-height: 400px;
  max-width: 1371px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  display: block;
  float: initial;
}
/*
@media (max-width: 1099px){
	#accesos_habitaciones>div[class*='col-']{max-width:750px!important;margin-top:-100px;}
	#accesos_habitaciones>div[class*='col-'].select{max-width:800px!important;}
	#habitypes>.onebyone-carosel .item>div[class*='col-']{max-width:250px;}
	#habitypes>.onebyone-carosel .item>div[class*='col-'].select{margin-top:0;width:300px!important;max-width:initial;}
}
@media (max-width: 991px){
	#accesos_habitaciones>div[class*='col-']{max-width:600px!important;margin-top:-100px;}
	#accesos_habitaciones>div[class*='col-'].select{max-width:640px!important;}
	#habitypes>.onebyone-carosel .item>div[class*='col-']{max-width:200px;}
	#habitypes>.onebyone-carosel .item>div[class*='col-'].select{margin-top:0;width:240px!important;max-width:initial;}
	#habitaciones{margin-top: -19px;}
	#habitypes .controls{position:absolute;z-index:-1;bottom:30px;right:0;left:0px;width:100%;padding:0;height:260px;background-color:transparent;}
	#habitypes .controls>button{position:absolute;top:95px;width:50px;height:70px;background-color:#72a84f;background-size:23px 40px;}
	#habitypes .controls>button.habitype_right{left:-42px;border-radius:40px 0px 0px 40px;}
	#habitypes .controls>button.habitype_left{right:-42px;border-radius:0px 40px 40px 0px;}
}
@media (max-width: 767px){
	.row.flex{display:block!important;}
	#habitaciones>div[class*=col-]>div.row.flex {padding:24pt;}
	#habitypes .carousel-control{display:none!important;}
	#accesos_habitaciones>div[class*='col-'],#accesos_habitaciones>div[class*='col-'].select{max-width:290px!important;width:290px!important;margin-top:40px;}
	#habitypes>.onebyone-carosel .item>div[class*=col-],#habitypes>.onebyone-carosel .item>div[class*=col-].select{max-width:290px!important;width:290px!important;margin-top:0px;}
	#habitypes>.onebyone-carosel>.item>div[class*=col-]:nth-child(2),#habitypes>.onebyone-carosel>.item>div[class*=col-]:nth-child(3){display:none;}
	#habitypes .controls {height:1px;z-index:1;}
	#habitypes .controls>button{top:-202px;}
	#habitaciones>div[class*=col-]>div.row.flex>div[class*=col-] ul{max-width:90%;}
}
@media (max-width: 543px){
	#habitaciones .row_gal>div[class*=col-] div.controls{height:0;padding:0;width:100%;top:50%;right:0;left:0;}
	#habitaciones .row_gal>div[class*=col-] div.controls>button{position:absolute!important;top:"~calc(50% - 50px)";background-color:rgba(112,113,112,.8)!important;width:50px;height:100px;background-size:20px;}
	#habitaciones .row_gal>div[class*=col-] div.controls>.galchang_up{right:0;border-radius: 0px 0px 50px 50px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);}
	#habitaciones .row_gal>div[class*=col-] div.controls>.galchang_bown{left:0;border-radius: 50px 50px 0px 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);}
}
@media (max-width: 449px){
}
@media (max-width: 424px){
	#habitypes .controls>button.habitype_right{z-index:10;left:7.5px;border-radius:0px 40px 40px 0px;background-position-x:5px;background-color:rgba(114,168,79,.8);}
	#habitypes .controls>button.habitype_left{z-index:10;right:7.5px;border-radius:40px 0px 0px 40px;background-position-x:20px;background-color:rgba(114,168,79,.8);}
	#habitaciones>div[class*=col-]>div.row.flex>div[class*=col-] ul.list-inline{text-align:center;}
	#habitaciones>div[class*=col-]>div.row.flex>div[class*=col-] ul.list-inline>li:nth-child(2){margin-top:10px;}
}*/
