.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-picture {
  width: 100rem !important;
  height: 20rem !important;
}
.box-list {
  width: 40rem !important;
  height: 20rem!important;
}
.fileuploader {
  width: 100%!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.note-editing-area {
  word-wrap: break-word;
}
.jFiler {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.jFiler-theme-default .jFiler-input {
  margin: 0px!important;
}
/*===================CHECKBOX-BTN=========================*/
#comodidades label input[type="checkbox"] {
  opacity: 0;
  margin-left: 0px!important;
}
#comodidades label input[type="checkbox"] ~ i.fa.fa-square-o {
  color: #72a84f;
  display: inline;
  padding-right: 5px;
}
#comodidades label input[type="checkbox"] ~ i.fa.fa-check-square-o {
  display: none;
}
#comodidades label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
  display: none;
}
#comodidades label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
  color: #72a84f;
  display: inline;
  padding-right: 5px;
}
#comodidades label:hover input[type="checkbox"] ~ i.fa {
  color: #72a84f;
}
/*============================================*/
#comodidades {
  max-width: 430px;
  float: initial;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#comodidades > label {
  border: 7px solid #72a84f !important;
  background-color: #FFF;
  position: relative;
}
#comodidades > label.checkbox-inline {
  margin-left: 0;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
#comodidades > label.ico {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  padding: 35px;
  width: 50px;
  height: 50px;
}
#comodidades > label.ico1 {
  background-image: url(../img/habitaciones/habitacion_icon1.svg);
}
#comodidades > label.ico2 {
  background-image: url(../img/habitaciones/habitacion_icon2.svg);
}
#comodidades > label.ico3 {
  background-image: url(../img/habitaciones/habitacion_icon3.svg);
}
#comodidades > label.ico4 {
  background-image: url(../img/habitaciones/habitacion_icon4.svg);
}
#comodidades > label.ico5 {
  background-image: url(../img/habitaciones/habitacion_icon5.svg);
}
#comodidades > label.ico6 {
  background-image: url(../img/habitaciones/habitacion_icon6.svg);
}
#comodidades > label.ico7 {
  background-image: url(../img/habitaciones/habitacion_icon7.svg);
}
#comodidades > label.ico8 {
  background-image: url(../img/habitaciones/habitacion_icon8.svg);
}
#comodidades > label > input[type="checkbox"],
#comodidades > label > i {
  position: absolute;
  top: 5px;
  left: 5px;
}
#uno_picture {
  border-radius: 1rem 1rem 0 0;
}
.jFiler-theme-default .jFiler-input {
  border-radius: 0 0 1rem 1rem!important;
}
