#sb-container {
  z-index: 2000!important;
}
/*===== Banner =====*/
.full-height > #Carousel_palmasinn .item {
  height: calc(100vh - 40px);
  max-height: 640px;
}
.full-height > #Carousel_palmasinn .item {
  width: 100%;
}
#Carousel_palmasinn > .carousel-indicators li,
#Carousel_palmasinn > .carousel-indicators li {
  border-radius: 0px;
  width: 5px;
  height: 30px;
}
#Carousel_palmasinn > .carousel-indicators li.active,
#Carousel_palmasinn > .carousel-indicators li.active {
  width: 5px;
  height: 30px;
}
#Carousel_palmasinn > .carousel-indicators {
  width: 7px;
  left: initial;
  right: 30px;
  bottom: 40px;
}
#Carousel_palmasinn > .controls {
  position: absolute;
  z-index: 10;
  top: 170px;
  right: 0px;
  padding: 30px 10px 30px 34px;
  width: 70px;
  height: 140px;
  background-color: rgba(112, 113, 112, 0.8);
  border-radius: 70px 0 0 70px;
}
#Carousel_palmasinn > .controls > a {
  display: block;
  width: 23px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#Carousel_palmasinn > .controls > .galchang_left {
  background-image: url(../img/home/derecha.svg);
}
#Carousel_palmasinn > .controls > .galchang_right {
  background-image: url(../img/home/izquierda.svg);
}
.p_slider {
  margin-top: 0;
  position: absolute;
  bottom: 80px;
  left: 8.33333%;
  text-transform: uppercase;
  box-shadow: -1px 5px 10px 0px #808080;
  z-index: 1000;
}
.fixed-header-salud {
  border: 4px solid #72a84f !important;
  background-color: #72a84f !important;
  opacity: 0.8 !important;
  width: 100%;
}
/*===== AccesosDirectos =====*/
.esp_ad {
  padding-top: 150%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 2px -2px #808080;
}
#palmasinnHabitaciones,
#palmasinnInstalaciones,
#palmasinnRestaurantes {
  position: relative;
  z-index: 900;
  overflow: hidden;
}
#palmasinnHabitaciones {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
#palmasinnInstalaciones {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
#palmasinnRestaurantes {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.row-flex,
.row-flex > div[class*='col-'] {
  -webkit-flex-direction: row;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  content: "";
  display: block;
  height: auto;
}
.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}
.row-flex > div[class*='col-'],
.container-flex > div[class*='col-'] {
  margin: -0.2px;
  /* hack adjust for wrapping */
}
.container-flex > div[class*='col-'] div,
.row-flex > div[class*='col-'] div {
  width: 100%;
  overflow: hidden;
}
.container-flex > div[class*='col-'] > a,
.row-flex > div[class*='col-'] > a {
  width: 100%;
  height: 100%;
  display: block;
}
.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}
.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}
#accesososdirectos .row.row-flex {
  margin-top: -70px;
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
}
.name_ad,
.name_ad > a,
.name_ad > a:hover,
.name_ad > a:focus {
  color: #FFF;
  font-family: mtcorsva;
}
.name_ad {
  position: absolute;
  bottom: -100px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%!important;
  height: 100px;
  font-size: 22pt;
  line-height: 100px;
  text-align: center;
  /*background-color:rgba(114, 168, 79, 0.8);*/
}
.name_ad {
  background-image: url(../img/accesosdirectoshome.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
/*===== Servicios =====*/
#servicios {
  height: 500px;
  margin: 40px 0;
}
#servicios > div[class*='col-'] > .row > div[class*='col-'] {
  min-height: 420px;
}
#servicios > div[class*='col-'] > .row > div[class*='col-']:nth-child(1) {
  text-align: left;
}
#servicios > div[class*='col-'] > .row > div[class*='col-']:nth-child(1) a {
  float: left;
}
#servicios > div[class*='col-'] > .row > div[class*='col-']:nth-child(2) {
  text-align: center;
}
#servicios > div[class*='col-'] > .row > div[class*='col-']:nth-child(2) > table {
  max-width: 600px;
  margin-left: auto;
  margin-right: 0;
}
#servicios > div[class*='col-'] > .row {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
#servicios .tituloitalic,
#servicios .titulo {
  white-space: nowrap;
}
#servicios .tituloitalic {
  color: #72a84f;
}
#servicios .parrafo {
  min-height: 290px;
}
#servicios .flex {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
#servicios .flex > div {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition: width 0.7s ease-out;
  transition: width 0.7s ease-out;
}
#servicios .row.flex > div[class*='col-']:nth-child(2) {
  padding-right: 0;
}
#servicios .itemservi {
  height: 210px;
}
#servicios .itemservi > div {
  border: 1px solid #707170;
  height: 100%;
  position: relative;
}
#servicios .rowservi > .itemservi:nth-child(1) {
  padding-right: 7.5px;
  padding-left: 0;
}
#servicios .rowservi > .itemservi:nth-child(2) {
  padding-left: 7.5px;
  padding-right: 0;
}
#servicios table {
  width: 100%;
  height: 100%;
}
#servicios td > .rowservi:nth-child(1) {
  padding-bottom: 7.5px;
}
#servicios td > .rowservi:nth-child(2) {
  padding-top: 7.5px;
}
#servicios .itemservi > div > small {
  width: 130px;
  line-height: 11pt;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#servicios #seguridad_ico {
  background-image: url(../img/home/servicios/servicios_seguridad_icon.svg);
}
#servicios #comodidades_icon {
  background-image: url(../img/home/servicios/servicios_comodidades_icon.svg);
}
#servicios #ubicacion_ico {
  background-image: url(../img/home/servicios/servicios_ubicacion_icon.svg);
}
#servicios #roomservices_ico {
  background-image: url(../img/home/servicios/servicios_roomservices_icon.svg);
}
#servicios .icoservi {
  width: 40%;
  height: 40%;
  margin: 15% auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}
#servicios .btn-comerciales {
  color: #72a84f;
  text-align: left;
  width: 150px!important;
}
#servicios .btn-comerciales {
  background-image: url(../img/home/servicios/servicios_video_icon_off.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: right;
}
#servicios .btn-comerciales:hover,
#servicios .btn-comerciales:focus {
  color: #5d8940;
  background-image: url(../img/home/servicios/servicios_video_icon_on.svg);
}
/*===== TurismoSalud =====*/
#turismosalud {
  position: relative;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#contentsaludbanner {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
  color: #FFF;
}
.btn-salud {
  text-align: center;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: transparent;
}
.btn-salud:hover,
.btn-salud:focus {
  color: #FFF;
  font-weight: bold;
}
#contentsaludbanner > .titulo {
  font-size: 22pt;
  line-height: 22pt;
  font-style: italic;
  white-space: nowrap;
}
#modal_salud #descarga {
  /*position:absolute;bottom:15px;right:15px;*/
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(../img/home/descarga_off.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#modal_salud #descarga:hove {
  background-image: url(../img/home/descarga_on.svg);
}
#contentsaludbanner p {
  margin: 0 0 5px;
}
#modal_salud .modal-dialog {
  width: 800px!important;
}
.modal-dimensiones {
  max-width: 800px;
  min-height: 800px;
}
/*===== Promociones =====*/
#promociones {
  height: auto;
  padding: 40px 0;
}
#CarouselPromo .item {
  height: 375px;
}
#promociones > table {
  width: 100%;
  height: 100%;
}
/*===== =====*/
.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 100%;
}
.onebyone-carosel .active.left {
  left: -33.33%;
}
.onebyone-carosel .active.right {
  left: 33.33%;
}
.onebyone-carosel .next {
  left: 33.33%;
}
.onebyone-carosel .prev {
  left: -33.33%;
}
/*===== =====*/
#promociones td > div[class*='col-'] > .row {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
.itempromo {
  padding: 0px;
}
.itempromo > .background_img {
  position: relative;
  overflow: hidden;
  display: block;
}
#carouselPromo {
  padding: 0px;
}
#carouselPromo .item > .itempromo:nth-child(2n+1) > .background_img {
  padding-top: 85%;
  margin-top: 7.5%;
  background-position: top center;
}
#carouselPromo .item > .itempromo:nth-child(2n+1) > .borderpromo {
  border: none;
}
#carouselPromo .item > .itempromo:nth-child(2n) {
  box-shadow: 0 4px 2px -2px #808080;
  z-index: 100;
  position: relative;
}
#carouselPromo .item > .itempromo:nth-child(2n) > .background_img {
  padding-top: 100%;
}
#carouselPromo .item > .itempromo:nth-child(2n) > .borderpromo {
  border-right: 1px solid #707170;
  border-bottom: 1px solid #707170;
  border-left: 1px solid #707170;
}
#carouselPromo .item > .itempromo .titulo {
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 10px;
  color: #72a84f;
}
#carouselPromo .item .btn.btn-reserva {
  text-transform: uppercase;
}
#carouselPromo .item .parrafo {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  height: 165px;
  margin-bottom: 10px;
  overflow: hidden;
}
#carouselPromo .item .parrafo p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
#carouselPromo .ocultarpromo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 33.33333333%;
  background-color: rgba(255, 255, 255, 0.6);
}
#carouselPromo .ocultarpromo {
  background-size: 50px 100px;
  background-repeat: no-repeat;
}
#carouselPromo .ocultarpromo.left {
  left: 0;
  background-image: url(../img/home/promociones/bannerpromoizquierdo.svg);
  background-position: center left;
}
#carouselPromo .ocultarpromo.right {
  right: 0;
  background-image: url(../img/home/promociones/bannerpromoderecho.svg);
  background-position: center right;
}
#carouselPromo .ocultarpromo > a {
  position: absolute;
  top: calc(50% - 15px);
  width: 20px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#carouselPromo .ocultarpromo.left > a {
  left: 5px;
  background-image: url(../img/home/promociones/flechaizquierda_off.svg);
}
#carouselPromo .ocultarpromo.right > a {
  right: 5px;
  background-image: url(../img/home/promociones/flechaderecha_off.svg);
}
#carouselPromo .ocultarpromo.left > a:hover,
.ocultarpromo.left > a:focus {
  background-image: url(../img/home/promociones/flechaizquierda_on.svg);
}
#carouselPromo .ocultarpromo.right > a:hover,
.ocultarpromo.right > a:focus {
  background-image: url(../img/home/promociones/flechaderecha_on.svg);
}
#carouselPromo > .carousel-inner {
  padding-bottom: 10px;
}
#carouselPromo .item > .itempromo.punico {
  box-shadow: 0 4px 2px -2px #808080;
  z-index: 100;
  position: relative;
}
#carouselPromo .item > .itempromo.punico .background_img {
  padding-top: 100%;
}
#carouselPromo .item > .itempromo.punico .borderpromo {
  border-right: 1px solid #707170!important;
  border-bottom: 1px solid #707170!important;
  border-left: 1px solid #707170!important;
}
.punico {
  float: initial;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*===== Modal promos =====*/
span.text-danger.pull-right {
  display: none;
}
/*===== Eventos =====*/
#eventos {
  height: 740px;
  padding-top: 10px;
}
#eventos .tituloitalic {
  color: #72a84f;
}
#eventos .tituloitalic.text-center {
  margin: 0;
  background-image: url(../img/home/eventos/lineagris.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}
#eventos .titiloseven {
  text-transform: uppercase;
}
#eventos .titiloseven,
#eventos .horario {
  font-weight: bold;
  white-space: nowrap;
}
#eventos .btn-reserevent {
  line-height: 15px;
  border: 1px solid #72a84f;
  color: #72a84f;
  background-color: transparent;
}
#eventos p > a.view {
  color: #72a84f;
  text-decoration: none;
}
#eventos p > a.view:hover,
#eventos p > a.view:focus {
  color: #5d8940;
}
#eventos > div[class*='col-']:nth-child(2) > ul {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#eventos > div[class*='col-']:nth-child(2) > ul > li > button {
  cursor: pointer;
  width: 60px;
  height: 30px;
  border-radius: 0;
  border: 1px solid #707170;
  background-color: #707170;
  color: #FFF;
  display: block;
  text-align: center;
}
#eventos > div[class*='col-']:nth-child(2) > ul > li > button.active {
  color: #707170;
  background-color: #FFF;
}
#eventos > div[class*='col-']:nth-child(3) {
  padding-bottom: 40px;
  height: 660px;
}
#eventos > div[class*='col-']:nth-child(3) > .row,
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-'] {
  height: 100%;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-'] {
  padding: 0px;
}
#eventos > div[class*='col-']:nth-child(3) > .row {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-'] {
  height: 615px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) {
  position: relative;
  overflow: hidden;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) > ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -18px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) > ul > li {
  min-height: 300px;
  background-color: #f4f4f4;
  margin: 15px 0px;
  padding-right: 18px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) > ul > li:nth-child(1) {
  margin-top: 0px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) > ul > li:last-child {
  margin-bottom: 0px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) > ul > li > div[class*='col-'] {
  height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) > ul > li > div[class*='col-'] .fijos {
  width: 160px;
  height: 160px;
  top: calc(50% - 82.5px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#eventos ul.list-unstyled > li > div[class*='col-']:nth-child(1) {
  padding-right: 7.5px;
}
#eventos ul.list-unstyled > li > div[class*='col-']:nth-child(2) {
  padding-left: 7.5px;
  padding-right: 0;
}
#eventos ul.list-unstyled > li > div[class*='col-']:nth-child(2) div[class*='col-'] {
  padding-left: 0px;
  height: 200px;
}
#eventos ul.list-unstyled table {
  width: 100%;
  height: 100%;
}
#eventos ul.list-unstyled > li > div[class*='col-']:nth-child(2) > .row:nth-child(2) > div[class*='col-'] {
  height: 70px;
  position: absolute;
  bottom: 15px;
  padding: 0px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) {
  background-color: #FFF;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) .titiloseven {
  text-align: center;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) > .row {
  height: 100%;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) > .row > div[class*='col-']:nth-child(1) {
  height: 65%;
  padding-bottom: 7.5px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) > .row > div[class*='col-']:nth-child(2) {
  height: 35%;
  padding-right: 7.5px;
  padding-top: 7.5px;
}
#eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) > .row > div[class*='col-']:nth-child(3) {
  height: 35%;
  padding-left: 7.5px;
  padding-top: 7.5px;
}
#eventos .fijos {
  width: 100%;
  height: 100%;
  position: relative;
}
#eventos .fijos > div {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 80%;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  color: #707170;
  padding-top: 15px;
  padding-bottom: 15px;
}
#eventos .datevent {
  position: absolute;
  top: calc(50% - 47.5px);
  left: 0;
  right: 0;
  width: 95px;
  height: 95px;
  display: block;
  background-color: rgba(99, 100, 99, 0.8);
  color: #FFF;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  /*padding-top:23.5px*/
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  border: none;
}
#eventos .datevent:hover,
#eventos .datevent:focus {
  color: #FFF;
}
#eventos #loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.8);
}
#eventos #loading > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#loading > div > i {
  color: #72a84f;
  display: block;
  margin: 5px auto;
}
#loading > div > label {
  display: block;
  text-align: center;
  color: #72a84f;
  font-family: Lato-Regular;
}
.popover {
  border: 1px solid #72a84f !important;
}
.popover.top > .arrow {
  border-top-color: #72a84f !important;
}
.popover-content {
  padding: 5px;
}
.popover-content li {
  padding: 0;
}
.compartir {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #72a84f;
}
.compartir:hover,
.compartir:focus {
  color: #5d8940;
}
.share-facebook,
.share-twitter {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.share-facebook {
  background-image: url(../img/compartir/face_off.svg);
}
.share-twitter {
  background-image: url(../img/compartir/twitter_off.svg);
}
.share-facebook:hover,
.share-facebook:focus {
  background-image: url(../img/compartir/face_over.svg);
}
.share-twitter:hover,
.share-twitter:focus {
  background-image: url(../img/compartir/twitter_over.svg);
}
/*===== Galeria =====*/
#galeria {
  height: 500px;
  padding-bottom: 40px;
}
/*#galeria>div[class*='col-']>div{max-width:90%;margin-left:auto;margin-right:auto;height:460px;overflow:hidden;}*/
#galeria > div[class*='col-'] > div {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
  height: 460px;
  overflow: hidden;
}
.fdi-Carousel .item > div.unico {
  float: initial;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#carouselGaleria .item.active > .background_img {
  overflow: hidden;
}
.display-flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.flex-center {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-content: center;
  justify-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#galeria #carouselGaleria,
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel,
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item {
  width: 100%;
  height: 460px;
}
#galeria .controlgaleria {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc((100% - 900px)/2);
  background-color: transparent;
}
#galeria .controlgaleria {
  background-size: 50px 100px;
  background-repeat: no-repeat;
  background-position: center;
}
#galeria .controlgaleria.left {
  left: 0;
  background-image: url(../img/home/galeria/bannerpromoizquierdo.svg);
  background-position: left center!important;
}
#galeria .controlgaleria.right {
  right: 0;
  background-image: url(../img/home/galeria/bannerpromoderecho.svg);
  background-position: right center!important;
}
#galeria .controlgaleria > a {
  position: absolute;
  top: calc(50% - 15px);
  width: 20px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#galeria .controlgaleria.left > a {
  left: 5px;
  background-image: url(../img/home/galeria/flechaizquierda_off.svg);
}
#galeria .controlgaleria.right > a {
  right: 5px;
  background-image: url(../img/home/galeria/flechaderecha_off.svg);
}
#galeria .controlgaleria.left > a:hover,
.ocultarpromo.left > a:focus {
  background-image: url(../img/home/galeria/flechaizquierda_on.svg);
}
#galeria .controlgaleria.right > a:hover,
.ocultarpromo.right > a:focus {
  background-image: url(../img/home/galeria/flechaderecha_on.svg);
}
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img {
  position: absolute;
}
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(2n) {
  width: 900px;
  height: 400px;
  top: 30px;
}
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(2n+1) {
  width: 754px;
  height: 335px;
  top: 62.5px;
}
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(1) {
  left: 0;
}
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(2) {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
#galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(3) {
  right: 0;
}
#galeria #carouselGaleria .item > .background_img > .row,
#galeria #carouselGaleria .item > .background_img > .row > div[class*=col-] {
  height: 100%;
}
#galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(1) {
  padding-right: 7.5px;
}
#galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(2) {
  padding-left: 7.5px;
  text-align: center;
  display: table;
}
#galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(1) > a {
  display: block;
  width: 100%;
  height: 100%;
}
#galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(1) > a > .logo {
  width: 85%;
  height: 100%;
  background-size: contain!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(2) > div {
  display: table-cell;
  vertical-align: middle;
}
#galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(2) > div > .parrafogaleria {
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 10px;
}
#galeria #carouselGaleria .item > .background_img > .row {
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1280px) {
  #eventos .fijos > div {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 1199px) {
  #promociones {
    height: 780px;
  }
  .name_ad {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%!important;
  }
  #eventos > div[class*=col-]:nth-child(3) > .row > div[class*=col-]:nth-child(1) > ul > li {
    min-height: initial;
    height: auto;
    float: left;
    width: 100%;
  }
  #eventos ul.list-unstyled > li > div[class*=col-]:nth-child(2) {
    padding-left: 15px;
  }
  /*#eventos>div[class*=col-]:nth-child(3)>.row>div[class*=col-]:nth-child(1)>ul>li>div[class*=col-]{height: auto;}*/
  #eventos ul.list-unstyled > li > div[class*='col-']:nth-child(2) div[class*='col-'] {
    height: auto;
  }
  #eventos ul.list-unstyled > li > div[class*='col-']:nth-child(2) > .row:nth-child(2) > div[class*='col-'] {
    position: relative;
    margin-top: 10px;
  }
  #eventos > div[class*=col-]:nth-child(3) > .row > div[class*=col-]:nth-child(1) > ul > li > div[class*=col-] .fijos {
    width: 250px;
    height: 250px;
    top: calc(50% - 125px);
  }
  #galeria > div[class*='col-'] > div {
    max-width: 100%;
    width: 100%;
  }
  #galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(2n),
  #galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(2n+1) {
    width: 100%;
  }
}
@media (max-width: 1099px) {
  #galeria .controlgaleria {
    width: 50px;
  }
}
@media (max-width: 991px) {
  #accesososdirectos .row.row-flex {
    margin-top: -40px;
  }
  .name_ad {
    font-size: 26pt;
    margin-left: 0;
    margin-right: 0;
    width: 100%!important;
  }
  #servicios .parrafo,
  #servicios > div[class*='col-'] > .row > div[class*='col-'] {
    min-height: initial;
  }
  #servicios,
  #servicios .parrafo {
    height: auto;
  }
  #servicios .parrafo {
    text-align: justify;
  }
  #servicios .flex {
    display: block;
  }
  #servicios .flex > div[class*='col-'] {
    padding-left: 0;
    padding-right: 0px;
  }
  #servicios .row.rowservi > div[class*='col-']:nth-child(1) {
    padding-left: 0;
  }
  #servicios .row.rowservi > div[class*='col-']:nth-child(2) {
    padding-right: 0px;
  }
  #servicios .tituloitalic,
  #servicios .titulo {
    white-space: normal;
  }
  #servicios > div[class*='col-'] > .row > div[class*='col-']:nth-child(2) > table {
    margin-right: auto;
  }
  #carouselPromo .ocultarpromo {
    width: 50px;
    background-color: transparent;
  }
  #carouselPromo .item > .itempromo:nth-child(2n+1) > .background_img {
    padding-top: 100%;
  }
  .itempromo {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    float: initial;
  }
  #carouselPromo .item > .itempromo:nth-child(1),
  #carouselPromo .item > .itempromo:nth-child(3) {
    display: none;
  }
  #eventos .titiloseven {
    white-space: normal;
  }
  #eventos,
  #eventos > div[class*='col-']:nth-child(3) {
    height: auto;
  }
  #eventos ul.list-unstyled > li > div[class*='col-']:nth-child(2) div[class*='col-'] {
    padding-left: 15px!important;
  }
  #eventos > div[class*=col-]:nth-child(3) > .row {
    max-width: 600px;
  }
  #eventos > div[class*='col-']:nth-child(3) > .row {
    display: flex;
    flex-direction: column;
  }
  #eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(1) {
    order: 2;
  }
  #eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) {
    order: 1;
    padding-bottom: 15px;
  }
  #eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) > .row > div[class*='col-']:nth-child(1) {
    padding-left: 0;
    padding-right: 0;
  }
  #eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) > .row > div[class*='col-']:nth-child(2) {
    padding-left: 0;
  }
  #eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) > .row > div[class*='col-']:nth-child(3) {
    padding-right: 0;
  }
  #loading {
    height: 1315px!important;
  }
  #galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(1) {
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    top: 30px;
  }
}
@media (max-width: 800px) {
  #modal_salud .modal-dialog {
    width: 95%!important;
  }
  #modal_salud .modal-content.modal-dimensiones {
    min-height: initial;
    background-size: 100% auto!important;
    padding-bottom: 100%;
  }
}
@media (max-width: 767px) {
  #Carousel_palmasinn > .carousel-indicators {
    height: 7px;
    width: 126px;
  }
  #Carousel_palmasinn > .carousel-indicators li,
  #Carousel_palmasinn > .carousel-indicators li.active {
    height: 5px;
    width: 15px;
  }
  #accesososdirectos .row.row-flex {
    margin-top: 0px;
  }
  .container-flex > div[class*='col-'] div,
  .row-flex > div[class*='col-'] div {
    width: 75%;
    margin: 0 auto;
  }
  .row-flex > div[class*='col-'] {
    padding: 0px;
    margin-top: 15px;
  }
  .name_ad {
    font-size: 24pt;
  }
  .esp_ad {
    padding-top: 100%;
  }
  #servicios .rowservi > .itemservi:nth-child(1) {
    padding: 0px;
  }
  #servicios .rowservi > .itemservi:nth-child(2) {
    padding: 0px;
    padding-top: 15px;
  }
  #turismosalud {
    height: 250px;
  }
  #contentsaludbanner > .titulo {
    font-size: 18pt;
    line-height: 18pt;
    white-space: normal;
  }
  #carouselPromo#carouselPromo .carousel-inner,
  #carouselPromo .item,
  #carouselPromo .item > .itempromo {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  #galeria #carouselGaleria > .carousel-inner.onebyone-carosel > .item > .background_img:nth-child(1) {
    background-size: contain!important;
  }
  #galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(1) > a > .logo {
    width: 60%;
    height: 100%;
    margin-left: 20%;
  }
  #galeria #carouselGaleria .item > .background_img > .row > div[class*=col-]:nth-child(2) {
    display: none;
  }
}
@media (max-width: 543px) {
  .container-flex > div[class*='col-'] div,
  .row-flex > div[class*='col-'] div {
    width: 100%;
  }
  .row-flex,
  .row-flex > div[class*=col-] {
    display: block;
  }
  .esp_ad {
    padding-top: 150%;
  }
  .name_ad {
    font-size: 32pt;
    margin-left: 10%!important;
    margin-right: 10%!important;
    width: 80%!important;
  }
}
@media (max-width: 449px) {
  .full-height > #Carousel_palmasinn .item {
    min-height: 320px;
    height: calc(50vh - 40px);
  }
  #carouselPromo {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    float: initial;
  }
  #carouselPromo .ocultarpromo {
    background-position-y: 170px!important;
  }
  #carouselPromo .ocultarpromo > a {
    top: 205px;
  }
  #eventos > div[class*='col-']:nth-child(3) > .row > div[class*='col-']:nth-child(2) {
    height: 700px;
  }
  #eventos .fijos > div {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 70%;
  }
  #eventos .datevent {
    width: 70px;
    height: 70px;
  }
}
