/*===== FUENTE =====*/
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(../fonts/lato/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: mtcorsva;
  src: url(../fonts/mtcorsva/MTCORSVA.TTF);
}
body {
  font-family: Lato-Regular;
  font-size: 12pt;
  line-height: 16pt;
  color: #707170;
}
.titulo {
  font-family: Lato-Light;
  font-size: 17pt;
  line-height: 24pt;
}
.tituloitalic {
  font-family: mtcorsva;
  font-size: 24pt;
  line-height: 24pt;
}
#sb-player {
  overflow: hidden!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
#movilnavbarpalmasin {
  display: none!important;
}
#movilnavbarpalmasin .navbar {
  margin-top: 20px;
  margin-bottom: 0!important;
  border: none!important;
}
#movilnavbarpalmasin a,
#movilnavbarpalmasin .navbar-toggle {
  color: #72a84f;
}
#movilnavbarpalmasin div.navbar-header {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
}
#movilnavbarpalmasin div.navbar-header .navbar-toggle {
  width: 40px;
  height: 40px;
  background-image: url('../img/menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 1.5rem;
  top: calc(50% - 20px);
}
#movilnavbarpalmasin a.navbar-brand {
  height: 60px;
  max-width: 137px;
  width: 100%;
  background-image: url(../img/logolaspalmas_mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#movilNavbar a {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  padding: .5rem;
}
#movilNavbar a:hover,
#movilNavbar a:focus {
  background-color: transparent;
}
#movilNavbar a.activo {
  color: #5d8940;
  font-weight: bold;
  background-image: url('../img/lineatituloverde.svg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
}
#headerbtns {
  margin-top: .5rem;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#headerbtns > a {
  margin-left: .25rem;
  margin-right: .25rem;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#headerbtns > a:nth-child(1) {
  background-image: url('../img/whatsverde.svg');
}
#headerbtns > a:nth-child(2) {
  background-image: url('../img/faceheader_over.svg');
  background-size: auto 15px;
  border: 1px solid #73A950;
  border-radius: 25px;
}
#headerbtns > a:nth-child(3) {
  background-image: url('../img/instaheader_over.svg');
  background-size: 15px 15px;
  border: 1px solid #73A950;
  border-radius: 25px;
}
#headerbtns > a:nth-child(4) {
  background-image: url('../img/twitterheader_over.svg');
  background-size: 15px auto;
  border: 1px solid #73A950;
  border-radius: 25px;
}
#headerbtns > a:nth-child(5) {
  background-image: url('../img/tripheader_over.svg');
  background-size: 15px auto;
  border: 1px solid #73A950;
  border-radius: 25px;
}
#headerbtns > a:nth-child(6) {
  background-image: url('../img/ubicacionheader_over.svg');
  background-size: 15px 15px;
  border: 1px solid #73A950;
  border-radius: 25px;
}
#movilreserva {
  height: 25px;
  width: calc(100% + 30px);
  background-color: #72a84f;
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#movilreserva > a {
  color: #FFF;
  text-transform: uppercase;
}
/*#modal_load{display: flex;justify-content: center!important;align-items: center!important;}*/
#modal_load .media {
  display: flex;
}
#modal_load .media-middle {
  display: flex;
}
#modal_load .media-middle > a {
  align-self: center;
}
#modal_load .media-object {
  width: 30px;
  height: 30px;
}
#modal_load .media-body {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto!important;
}
#modal_load .media-body h4 {
  padding-right: 5px;
  margin: 0;
}
#modal_load .media-body h4 > a,
#modal_load .media-body h5 > a:hover,
#modal_load .media-body h5 > a:focus {
  color: #707170;
}
#modal_load .close {
  position: absolute;
  right: 30px;
}
/*#modal_load.modal {background: rgba(255, 255, 255, 0.9)!important;}*/
#modal_load.modal .modal-content {
  background-color: #FFF!important;
  padding: 10px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#modal_load.modal .modal-header {
  /*border:none!important;*/
  display: flex;
  justify-content: center;
}
/*#modal_load.modal .modal-body {border-top: 4px #72a84f solid!important;}*/
#modal_load.modal .modal-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0 15px;
}
#modal_load .tituloitalic {
  font-size: 35pt!important;
  line-height: 35pt!important;
}
.d-flex {
  display: flex;
}
.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  #movilnavbarpalmasin {
    display: block!important;
  }
  #modal_load .media-body h4 {
    font-size: 90%!important;
  }
  .d-xs-none {
    display: none!important;
  }
}
/*===== Boton Reserva =====*/
#BotonRes {
  background-color: #72a84f;
  width: 200px;
  height: 50px;
  position: absolute;
  padding: 10px;
  border-radius: 50px 0px 0px 50px;
  float: right;
  right: 0;
  margin-top: 70px;
  box-shadow: -1px 5px 10px 0px #808080;
  z-index: 1000;
}
#BotonRes.fixed {
  position: fixed;
  top: 0px;
}
#BotonRes div.background_img {
  height: 30px;
  width: 30px;
  background-image: url(../img/reserva_icon.svg);
  background-size: contain;
  float: left;
}
#BotonRes a {
  line-height: 30px;
  color: #FFF;
  /*text-transform:uppercase;*/
  padding-left: 5px;
}
div.shadown {
  /*position:absolute;width:100%!important;height:100%!important;top:0;left:0;border-radius:50px 0 0 50px;box-shadow:0px 0px 30px 5px #8BC34A;padding:12px;*/
}
div.shadown:hover {
  /*box-shadow:0px 0px 30px 7px #8BC34A;*/
}
div.shadown:hover a {
  text-shadow: 1px 0px 3px #FFF;
}
/*===== Boton Whatsapp  =====*/
#Botonwhat {
  background-color: #707170;
  width: 200px;
  height: 50px;
  position: fixed;
  padding: 10px;
  border-radius: 50px 0px 0px 50px;
  float: right;
  bottom: 3.5rem;
  right: 0;
  box-shadow: -1px 5px 10px 0px #808080;
  z-index: 1000;
}
#Botonwhat div.background_img {
  height: 30px;
  width: 30px;
  background-image: url(../img/whatspegajoso.svg);
  background-size: contain;
  float: left;
}
#Botonwhat a {
  line-height: 30px;
  color: #FFF;
  /*text-transform:uppercase;*/
  padding-left: 5px;
}
@media (max-width: 575px) {
  #Botonwhat {
    display: none!important;
  }
}
/*===== NAV-BAR =====*/
#navbarpalmasin > div,
#navbarpalmasinn > div {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
#navbarpalmasin {
  position: relative;
  height: 40px;
  background-color: #72a84f;
  overflow: hidden;
  border-bottom: 1px solid #1d0c0c;
}
#navbarpalmasin ul,
#navbarpalmasin a.ubicator,
#navbarpalmasin label {
  float: right;
  margin: 0px;
}
#navbarpalmasin ul {
  margin-top: 10px;
}
#navbarpalmasin label {
  line-height: 40px;
}
#navbarpalmasin label a {
  color: #FFF;
  text-decoration: none;
}
#navbarpalmasin a.ubicator {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
  margin-top: 10px;
}
#navbarpalmasin a.ubicator,
#navbarpalmasin ul > li > a {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}
#navbarpalmasin ul {
  height: 20px;
}
#navbarpalmasin ul > li,
#navbarpalmasin ul > li > a {
  padding: 0px;
}
#navbarpalmasin ul > li > a {
  display: block;
}
#navbarpalmasin a.ubicator {
  background-image: url(../img/navbar/ubicacionheader_off.svg);
}
#navbarpalmasin a.ubicator:hover,
#navbarpalmasin a.ubicator:focus {
  width: 20px;
  height: 20px;
  background-image: url(../img/navbar/ubicacionheader_over.svg);
}
#navbarpalmasin label {
  color: #FFF;
  margin-bottom: 0px;
  font-weight: initial;
}
#navbarpalmasin ul,
#navbarpalmasin label {
  margin-right: 15px;
}
#navbarpalmasinn {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1000;
}
#navbarpalmasinn {
  margin-bottom: 0px;
  background-color: rgba(112, 113, 112, 0.8);
  border: none;
  border-radius: 0;
}
#navbarpalmasinn,
#navbarpalmasinn ul > li > a {
  min-height: 75px;
}
#navbarpalmasinn ul > li > a {
  color: #FFFFFF;
  line-height: 75px;
  padding: 0px 10px;
}
#navbarpalmasinn ul > li > a:hover,
#navbarpalmasinn ul > li > a:focus,
#navbarpalmasinn ul > li > a.activo {
  background-color: rgba(114, 168, 79, 0.8) !important;
  background-image: url(../img/navbar/lineatituloblanco.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}
#navbarpalmasinn .navbar-toggle {
  padding: 0px;
  margin-top: 23px;
  margin-right: 15px;
}
#logopalmasinn {
  background-image: url(../img/logo.png);
  width: 135px;
  height: 75px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#navbarpalmasinn-collapse > form {
  margin: 0;
  padding-right: 0;
  padding-left: 10px;
}
.tripavisor {
  background-image: url(../img/navbar/tripheader_off.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.facebook {
  background-image: url(../img/navbar/faceheader_off.svg);
  width: 10px;
  height: 20px;
  background-size: 10px 16px;
}
.instagram {
  background-image: url(../img/navbar/instaheader_off.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 16px;
}
.twitter {
  background-image: url(../img/navbar/twitterheader_off.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 16px;
}
.tripavisor:hover,
.tripavisor:focus {
  background-image: url(../img/navbar/tripheader_over.svg);
}
.facebook:hover,
.facebook:focus {
  background-image: url(../img/navbar/faceheader_over.svg);
}
.instagram:hover,
.instagram:focus {
  background-image: url(../img/navbar/instaheader_over.svg);
}
.twitter:hover,
.twitter:focus {
  background-image: url(../img/navbar/twitterheader_over.svg);
}
.en {
  background-image: url(../img/navbar/ing_off.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-right: 0px!important;
}
.esp {
  background-image: url(../img/navbar/esp_off.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-right: 0px!important;
}
.btn {
  min-width: 130px;
  width: auto;
  height: 30px;
  border-radius: 0px;
  border: none;
}
.btn-reserva {
  background-color: #72a84f;
  color: #FFFFFF;
  margin-top: 22.5px;
}
.btn-reserva:hover,
.btn-reserva:focus {
  background-color: #5d8940;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  #navbarpalmasinn-collapse > form {
    padding: 0px;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn-reserva {
    margin: 15px auto;
    display: block;
  }
  #navbarpalmasinn ul {
    margin-top: 3rem!important;
  }
  #navbarpalmasinn ul > li > a {
    text-align: center;
    line-height: 35px;
    min-height: 35px;
  }
}
@media (max-width: 575px) {
  .tlf {
    display: none!important;
  }
}
@media (max-width: 479px) {
  #navbarpalmasin ul,
  #navbarpalmasin label {
    margin-right: 5px;
  }
  #navbarpalmasin label {
    font-size: 10px;
    width: 120px;
    height: 30px;
    line-height: 15px;
    margin-top: 5px;
    float: initial;
  }
  #navbarpalmasin a.ubicator {
    float: left;
    margin-left: 5px;
  }
}
/*===== MAIN =====*/
.sectionfull-height {
  min-height: calc(100vh);
}
.banner_palmasinn {
  height: calc(100vh - 40px);
  max-height: 640px;
}
.background_img,
.background-banner > .item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-palmasinn {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  overflow-x: hidden;
}
.container-palmasinn .row {
  margin: 0;
}
/*===== FOOTER =====*/
#footerpalmasinn {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  overflow-x: hidden;
}
#footerpalmasinn ul > li > a {
  color: #FFF;
  font-size: 10pt;
}
#footerpalmasinn .row {
  margin: 0px;
}
#footerpalmasinn > .row:nth-child(1) {
  background-color: #72a84f;
}
#footerpalmasinn > .row:nth-child(1) > div[class*=col-],
#footerpalmasinn > .row:nth-child(1) > div[class*=col-] > .row {
  height: 70px;
}
#footerpalmasinn > .row:nth-child(1) .background_img {
  background-size: contain!important;
  height: 45px;
  margin-top: 12.5px;
}
#footerpalmasinn > .row:nth-child(1) > div[class*=col-]:nth-child(1) {
  padding-bottom: 10px;
}
#footerpalmasinn .mapasitio,
#footerpalmasinn .socialfooter {
  height: 30px;
  line-height: 30px;
  margin-top: 17.5px;
  margin-bottom: 0px;
}
#footerpalmasinn .socialfooter {
  width: 170px;
  text-align: center;
}
#footerpalmasinn .socialfooter > li,
#footerpalmasinn .socialfooter > li > a {
  padding: 0;
  width: 30px;
  height: 30px;
}
#footerpalmasinn .socialfooter > li > a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 5px;
  display: block;
}
#footerpalmasinn .facebook {
  background-image: url(../img/footer/footer_face.svg);
}
#footerpalmasinn .instagram {
  background-image: url(../img/footer/footer_insta.svg);
}
#footerpalmasinn .twitter {
  background-image: url(../img/footer/footer_twitter.svg);
}
#footerpalmasinn .tripavisor {
  background-image: url(../img/footer/footer_trip.svg);
}
#footerpalmasinn .googlemaps {
  background-image: url(../img/footer/footer_ubicacion.svg);
}
#footerpalmasinn > .row:nth-child(2) > div[class*=col-] {
  height: 35px;
  background-color: #707170;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
}
#footerpalmasinn > .row:nth-child(2) > div[class*=col-] > p,
#footerpalmasinn > .row:nth-child(2) > div[class*=col-] > p > a {
  color: #FFF;
  white-space: nowrap;
  font-size: 12px;
  line-height: 17.5px;
  margin: 0px;
}
#footerpalmasinn > .row:nth-child(2) > div[class*=col-] > p,
#footerpalmasinn > .row:nth-child(2) > div[class*=col-] > p > a {
  line-height: 12px;
}
/*====================MAPA SITIO==========================*/
#mapasitio {
  height: auto!important;
  padding-bottom: 15px;
}
#mapasitio ul {
  list-style: none;
  padding: 0 5px 0 0;
  margin: 0;
}
#mapasitio ul > li > a:hover,
#mapasitio ul > li > a:focus {
  font-weight: 700;
}
.mp-titulo {
  color: #FFF;
}
/*====================GALERIA============================*/
#modalGaleriapalmas {
  padding: 0px!important;
}
#closeModal {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 101;
  cursor: pointer;
  width: 27px;
  height: 27px;
  font-size: 24px;
  color: #FFF;
}
#modalGaleriapalmas {
  background-color: rgba(0, 0, 0, 0.6);
}
#BootstrapCarouselLightBox,
#modalGaleriapalmas {
  width: 100%;
  height: 100%;
}
#BootstrapCarouselLightBox .carousel-indicators {
  width: 80%;
  left: 0;
  right: 0;
  margin: 0px auto;
}
#arrowLightBoxNext,
#arrowLightBoxPrev {
  position: absolute;
  top: calc(50% - 22.5px);
  z-index: 101;
  cursor: pointer;
}
#arrowLightBoxNext {
  right: 15px;
}
#arrowLightBoxPrev {
  left: 15px;
}
#BootstrapCarouse-innerlLightBox img {
  margin: 0px auto;
  max-width: 1280px;
  display: block;
}
#BootstrapCarouse-innerlLightBox,
#BootstrapCarouse-innerlLightBox .item {
  height: 100%;
}
#BootstrapCarouse-innerlLightBox .item > div {
  display: table;
  width: 100%;
  height: 100%;
}
#BootstrapCarouse-innerlLightBox .item > div > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
#BootstrapCarouse-innerlLightBox .item > div > div > img {
  margin: 0 auto;
}
#BootstrapCarouselLightBox .thumbnails {
  border: none;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  border-radius: 0px;
  margin: 0px 5px;
}
#BootstrapCarouselLightBox .thumbnails.active {
  opacity: 1;
}
#BootstrapCarouselLightBox .carousel-indicators {
  bottom: 10px;
}
/*=====================MODAL=======================*/
.modal #wait {
  cursor: pointer;
  font-style: initial;
  font-family: Lato-Regular;
  color: #72a84f;
}
.inputpalmasPromo {
  background-color: transparent;
  border: 2px #72a84f solid;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px transparent;
  box-shadow: inset 0 0px 0px transparent;
  color: #707170;
}
.inputpalmasPromo:hover,
.inputpalmasPromo:focus {
  border: 2px #5d8940 solid;
}
.inputpalmasPromo::-webkit-input-placeholder {
  color: #707170;
}
.inputpalmasPromo::-moz-placeholder {
  color: #707170;
}
.inputpalmasPromo::-ms-input-placeholder {
  color: #707170;
}
#btn-envpromo,
#btnClose-envpromo,
#btn-evep,
#btnClose-evep {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px #72a84f solid;
  color: #72a84f;
}
#btn-envpromo:hover,
#btn-envpromo:focus,
#btnClose-envpromo:hover,
#btnClose-envpromo:focus {
  background-color: #72a84f;
  color: #FFF;
}
#btn-envpromo:disabled:hover,
#btn-envpromo:disabled:focus {
  background-color: transparent;
  color: #72a84f;
}
#btnClose-envpromo,
#btnClose-evep {
  float: right;
  display: none;
}
.modal .modal-content {
  padding: 10px;
  border-radius: 0px;
}
.modal .modal-header {
  border: 4px #72a84f solid;
  border-bottom: none;
}
.modal .modal-body {
  border: 4px #72a84f solid;
  border-top: none;
}
.modal .modal-header > i {
  float: right;
  color: #707170;
}
.modal #spin {
  display: none;
}
.modal .modal-header p {
  color: #72a84f;
  text-align: center;
  font-family: Lato-Light;
}
.modal .modal-header > p.titulo {
  font-family: Lato-Bold;
}
.modal .modal-header > p:nth-child(3) {
  color: #707170;
}
#form-promoPalmasinn label {
  color: #72a84f;
  font-family: Lato-Bold;
}
/*===================RADIO-BTN=========================*/
.modal label.radio-inline {
  padding-left: 0px!important;
}
.modal label input[type="radio"] {
  opacity: 0;
  margin-left: 0px!important;
}
.modal label input[type="radio"] ~ i.fa.fa-square-o {
  color: #72a84f;
  display: inline;
  padding-right: 5px;
}
.modal label input[type="radio"] ~ i.fa.fa-square {
  display: none;
}
.modal label input[type="radio"]:checked ~ i.fa.fa-square-o {
  display: none;
}
.modal label input[type="radio"]:checked ~ i.fa.fa-square {
  color: #72a84f;
  display: inline;
  padding-right: 5px;
}
.modal label:hover input[type="radio"] ~ i.fa {
  color: #72a84f;
}
.modal .radio-inline {
  margin-left: 10px;
}
/*======================CAROUSEL============================ */
/*
inspired from http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*================================================== */
@media (max-width: 1199px) {
  #footerpalmasinn > .row:nth-child(1) .background_img {
    background-size: 80%!important;
  }
}
@media (max-width: 991px) {
  #footerpalmasinn > .row:nth-child(1) > div[class*='col-']:nth-child(2) > .row,
  #footerpalmasinn > .row:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  #footerpalmasinn > .row:nth-child(1) > div[class*='col-']:nth-child(2) > .row > ul:nth-child(1),
  #footerpalmasinn > .row:nth-child(1) > div[class*='col-']:nth-child(1) {
    order: 3;
  }
  #footerpalmasinn > .row:nth-child(1) > div[class*='col-']:nth-child(2) > .row > ul:nth-child(2),
  #footerpalmasinn > .row:nth-child(1) > div[class*='col-']:nth-child(2) {
    order: 1;
  }
  #footerpalmasinn > .row:nth-child(1) > div[class*='col-']:nth-child(2) > .row > ul:nth-child(2),
  #footerpalmasinn > .row:nth-child(1) > div[class*='col-']:nth-child(3) {
    order: 2;
  }
  #footerpalmasinn > .row:nth-child(1) .background_img {
    background-size: contain!important;
  }
  #footerpalmasinn .mapasitio {
    margin-top: 0px;
    white-space: nowrap;
  }
  #footerpalmasinn .socialfooter {
    width: 100%;
    text-align: right;
  }
  #mapasitio {
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .mp-titulo {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
  }
}
@media (max-width: 449px) {
  .banner_palmasinn {
    height: calc(50vh - 40px);
    height: 320px;
  }
}
/*
@media (max-width: 543px){
}
@media (max-width: 449px){
}*/
