body {
  padding-right: 0px !important;
}
.modal-open {
  overflow: inherit !important;
}
.modal-border {
  border: 10px solid #72a84f;
  border-radius: 3rem;
  padding: 3rem;
  width: 65rem;
}
.modal-color {
  background-color: #707170;
}
.modal-header .close {
  margin-top: -31px !important;
}
.modal-dimensiones {
  min-width: 500px;
  min-height: 500px;
}
