/*====================*/
.full-height.banner_palmasinn div[class*='col-'],
.restaurates > div[class*='col-'] > div > div.row div[class*='col-'],
.galeria > div[class*='col-'] > div > div.row div[class*='col-'],
.reservaciones > div[class*='col-'] > div > div.row div[class*='col-'] {
  padding: 0;
}
.collapsing {
  -webkit-transition: none;
  transition: none;
}
#collapse {
  padding-top: 40px;
}
/*====================*/
.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 100%;
}
.onebyone-carosel .active.left {
  left: -33.33%;
}
.onebyone-carosel .active.right {
  left: 33.33%;
}
.onebyone-carosel .next {
  left: 33.33%;
}
.onebyone-carosel .prev {
  left: -33.33%;
}
/*===== Banner =====*/
#restbarCarousel > .carousel-inner > .item a.restbar,
#restbarCarousel > .carousel-inner > .item a.restbar.collapsed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
#restbarCarousel > .carousel-inner > .item a.restbar {
  cursor: pointer;
  background-color: #FFF;
  border-radius: 70px 70px 0 0;
}
#restbarCarousel > .carousel-inner > .item a.restbar > div {
  width: 100%;
  height: 23px;
  margin-top: 20px;
  background-size: contain;
  background-position: center;
  background-image: url(../img/restaurantes/banner/arriba_off.svg);
}
#restbarCarousel > .carousel-inner > .item a.restbar.collapsed {
  background-color: rgba(114, 168, 79, 0.8);
  border-radius: 70px 70px 0 0;
}
#restbarCarousel > .carousel-inner > .item a.restbar.collapsed > div {
  width: 100%;
  height: 23px;
  margin-top: 20px;
  background-size: contain;
  background-position: center;
  background-image: url(../img/restaurantes/banner/abajo_off.svg);
}
#restbarCarousel > .carousel-inner > .item div.banner_palmasinn.background_img > div {
  display: table;
  width: 100.1%;
  height: 100%;
}
#restbarCarousel > .carousel-inner > .item div.banner_palmasinn.background_img > div > div {
  display: table-cell;
  vertical-align: middle;
}
#restbarCarousel > .carousel-inner > .item div.banner_palmasinn.background_img > div > div > div {
  height: 170px;
  /*background-color: rgba(0,0,0,.4);*/
}
#restbarCarousel > .carousel-inner > .item div.banner_palmasinn.background_img > div > div > div > div {
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  height: 170px;
}
#restbarCarousel > .carousel-inner.onebyone-carosel {
  background-image: url(../img/default.jpg);
}
#restbarCarousel > .carousel-inner > .item.unico {
  width: 33.33333333%;
  margin-right: auto;
  margin-left: auto;
}
#restbarCarousel > .carousel-inner > .item.unico > div[class*='col-'] {
  width: 100%!important;
}
#restbarCarousel > .conrtosBanner {
  display: none;
  background-color: rgba(114, 168, 79, 0.8);
  position: absolute;
  top: calc(50% - 35px);
  width: 35px;
  height: 70px;
}
#restbarCarousel > .conrtosBanner.conrtosBanner-left {
  left: 0;
  border-radius: 0 70px 70px 0;
  background-image: url(../img/restaurantes/izquierda.svg);
  background-size: 15px;
  background-position-x: 5px;
}
#restbarCarousel > .conrtosBanner.conrtosBanner-right {
  right: 0;
  border-radius: 70px 0 0 70px;
  background-image: url(../img/restaurantes/derecha.svg);
  background-size: 15px;
  background-position-x: 15px;
}
#navbarpalmasinr {
  position: relative;
  height: 40px;
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 1px solid #FFF;
}
.faceh {
  background-image: url(../img/social/faceh.svg);
  width: 10px;
  height: 20px;
  background-size: 10px 16px;
}
.activeres {
  background-color: rgba(0, 0, 0, 0.6);
}
.desactive {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
/*===== Restaurantes =====*/
.restaurates.row {
  padding-top: 40px;
}
.restaurates.row > div[class*='col-'] > div {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
}
.restaurates.row > div[class*='col-'] > div .background_img.fija {
  width: 350px;
  height: 480px;
  margin-right: 10px;
  float: left;
}
.restaurates.row > div[class*='col-'] > div .borderes {
  width: 440px;
  height: 440px;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #FFF;
  padding: 24pt;
  box-shadow: 0 8px 4px -4px #808080;
}
.restaurates.row > div[class*='col-'] > div .logo {
  height: 70px;
  background-size: contain!important;
}
.restaurates.row > div[class*='col-'] > div .parrafo {
  font-family: Lato-Light;
  height: 250px;
  padding: 10px 0!important;
  overflow: hidden;
}
.restaurates.row > div[class*='col-'] > div .parrafo > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -18px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.restaurates.row > div[class*='col-'] > div .parrafo > div > div {
  display: table;
  width: 100%;
  height: 100%;
}
.restaurates.row > div[class*='col-'] > div .parrafo > div > div > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.restaurates.row > div[class*='col-'] > div .btn.logo {
  position: relative;
  width: auto!important;
  padding-right: 35px!important;
}
.restaurates.row > div[class*='col-'] > div .btn.logo > svg {
  position: absolute;
  right: 0;
  top: 0;
}
/*===== Galeria =====*/
.galeria.row > div[class*='col-'] > div {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.p4 {
  position: relative;
  padding-top: 40%;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.p3 {
  position: relative;
  padding-top: 30%;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.pa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.pat {
  padding-top: 5px;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.pab {
  padding-bottom: 5px;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.pal {
  padding-left: 5px;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.par {
  padding-right: 5px;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] div.pa > div.background_img {
  width: 100%;
  height: 100%;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta,
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] #galeresta > .carousel-inner,
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] #galeresta > .carousel-inner > .item {
  width: 100%;
  height: 100%;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta > .carousel-inner > .item > div {
  display: table;
  width: 100%;
  height: 100%;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta > .carousel-inner > .item > div > div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta > .carousel-inner > .item > div > div > div.background_img {
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  display: block;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta > .controls {
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 0px;
  padding: 30px 10px 30px 34px;
  width: 70px;
  height: 140px;
  background-color: rgba(112, 113, 112, 0.8);
  border-radius: 70px 0 0 70px;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta > .controls > button {
  width: 23px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta > .controls > .galchang_right {
  background-image: url(../img/restaurantes/derecha.svg);
}
.galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] .galeresta > .controls > .galchang_left {
  background-image: url(../img/restaurantes/izquierda.svg);
}
.galerifijarest,
.row.galeria .galeresta .item {
  cursor: pointer;
}
.galeresta > .carousel-inner,
.galeresta > .carousel-inner > .item {
  width: 100%;
  height: 100%;
}
/*===== Reservar =====*/
.reservaciones.row {
  padding-top: 40px;
  padding-bottom: 40px;
}
.reservaciones.row > div[class*='col-'] > div {
  position: relative;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.reservaciones.row > div[class*='col-'] > div > div.row > div.background_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 430px;
  height: 430px;
}
.reservaciones.row > div[class*='col-'] > div > div.row > div[class*='col-'] > div {
  display: table;
  width: 100%;
  height: 430px;
}
.reservaciones.row > div[class*='col-'] > div > div.row > div[class*='col-'] > div > div {
  display: table-cell;
  vertical-align: middle;
}
.reservaciones.row > div[class*='col-'] > div > div.row > div[class*='col-'] > div > div > form {
  min-height: 350px;
  background-color: #717071;
}
.reservaciones.row form > div[class*='col-'] > div[class*='col-'] > p.tituloitalic {
  background-image: url(../img/restaurantes/formulario/lineatituloblanco.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 15px 0 5px 0;
  margin-bottom: 0;
}
.reservaciones.row form > div[class*='col-'] > div[class*='col-']:nth-child(2),
.reservaciones.row form > div[class*='col-'] > div[class*='col-']:nth-child(4) {
  padding-right: 7.5px;
}
.reservaciones.row form > div[class*='col-'] > div[class*='col-']:nth-child(3),
.reservaciones.row form > div[class*='col-'] > div[class*='col-']:nth-child(5) {
  padding-left: 7.5px;
}
.reservaciones.row #nombre,
#apellido {
  text-transform: capitalize;
}
.reservaciones.row .inputpalmasinn {
  background-color: transparent;
  border: 2px #FFF solid;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px transparent;
  box-shadow: inset 0 0px 0px transparent;
  color: #FFF;
}
.reservaciones.row .inputpalmasinn:hover,
.inputpalmasinn:focus {
  border: 2px #72a84f solid;
}
.reservaciones.row .inputpalmasinn::-webkit-input-placeholder {
  color: #FFF;
}
.reservaciones.row .inputpalmasinn::-moz-placeholder {
  color: #FFF;
}
.reservaciones.row .inputpalmasinn::-ms-input-placeholder {
  color: #FFF;
}
.reservaciones.row #btn-enviar {
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
  border: 2px #FFF solid;
  border-radius: 0px;
  color: #FFF;
}
@media (max-width: 767px) {
  .col-xs-0,
  #restbarCarousel > .carousel-inner > .item > div[class*='col-']:nth-child(2),
  #restbarCarousel > .carousel-inner > .item > div[class*='col-']:nth-child(3) {
    display: none;
  }
  #restbarCarousel > .conrtosBanner {
    display: block;
  }
  #restbarCarousel > .carousel-inner > .item.unico {
    width: 100%;
  }
  .restaurates.row > div[class*='col-'] > div .borderes {
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurates.row > div[class*='col-'] > div .background_img.fija {
    width: calc(50% - 10px);
  }
  .galeria.row {
    min-height: 330px;
  }
  .galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] #content_galeresta {
    min-height: 290px;
  }
  .galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] #galeresta > .controls {
    height: 0;
    padding: 0;
    width: 100%;
    top: 50%;
  }
  .galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] #galeresta > .controls > button {
    position: absolute!important;
    top: -50px;
    background-color: rgba(112, 113, 112, 0.8);
    width: 50px;
    height: 100px;
    background-size: 20px;
  }
  .galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] #galeresta > .controls > .galchang_right {
    right: 0;
    border-radius: 50px 0px 0px 50px;
    background-position-x: 20px;
  }
  .galeria.row > div[class*='col-'] > div > div.row > div[class*='col-'] #galeresta > .controls > .galchang_left {
    left: 0;
    border-radius: 0px 50px 50px 0px;
    background-position-x: 10px;
  }
  .reservaciones.row {
    padding-bottom: 5px;
  }
  .reservaciones.row > div[class*='col-'] > div > div.row > div.background_img {
    display: none;
  }
  .reservaciones.row form {
    padding-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .reservaciones.row form > div[class*=col-] > div[class*=col-]:nth-child(3),
  .reservaciones.row form > div[class*=col-] > div[class*=col-]:nth-child(5) {
    padding-left: 0;
  }
  .reservaciones.row form > div[class*=col-] > div[class*=col-]:nth-child(2),
  .reservaciones.row form > div[class*=col-] > div[class*=col-]:nth-child(4) {
    padding-right: 0;
  }
}
@media (max-width: 543px) {
  .restaurates.row > div[class*='col-'] > div .borderes {
    width: calc(100% - 30px);
    margin-top: 244px;
  }
  .restaurates.row > div[class*='col-'] > div .background_img.fija {
    width: 100%;
    margin: 0;
  }
  .restaurates.row > div[class*='col-'] > div .background_img.fija:nth-child(2) {
    margin-top: 10px;
  }
}
.submenu-m {
  display: none;
}
.submenu-d {
  display: block;
}
@media (max-width: 560px) {
  .submenu-m {
    display: block;
  }
  .submenu-d {
    display: none;
  }
}
@media (max-width: 449px) {
  .restaurates.row > div[class*='col-'] > div .borderes {
    width: calc(100% - 30px);
    height: 600px;
    margin-top: 186px;
  }
  .restaurates.row > div[class*=col-] > div .parrafo {
    height: 350px!important;
  }
  .restaurates > div[class*=col-] > div > div.row div[class*=col-] {
    padding-top: 5px!important;
  }
}
