@colorborder:#72a84f;
@color:#72a84f;
@colorborderhover:#5d8940;
@colorhover:#ffffff;
@colorpagina:#72a84f;
@colorfranjaorange:#f39c12;
@colorfranjared:#dd4b39;
@colorfranjaazul:#1264f3;

.box-login{
	overflow-x: hidden;
	overflow-y: hidden;
}

.box-galeriainferior{
  height: 35rem !important;
  width: 75rem !important;
  border: 7px solid #72a84f !important;
}

.box-white{
	background-color:white;
}

.title_sidebar{
	background-color:@colorborder !important;
	color:@colorhover !important;
}

.ico-tools{
	position: absolute;
	font-size: 3rem;
	right: 0;
	bottom: 0rem;
	top: 23px;
}

.box-bsaludpromo {
    width: auto !important;
    height: 350px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
}

.box-bannersalud{
	height:15rem;
}

.table-white{
	background-color: #FFFFFF;
}

.bg-gradiente{
	background: @colorfranjared; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@colorfranjared, #00a65a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@colorfranjared, #00a65a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@colorfranjared, #00a65a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@colorfranjared, #00a65a); /* Standard syntax */
}

.bg-blancogradiente{
	background: @colorfranjaorange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@colorfranjaorange, #00a65a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@colorfranjaorange, #00a65a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@colorfranjaorange, #00a65a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@colorfranjaorange, #00a65a); /* Standard syntax */
}
.bg-azulgradiente{
	background: @colorfranjaazul; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@colorfranjaazul, #00a65a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@colorfranjaazul, #00a65a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@colorfranjaazul, #00a65a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@colorfranjaazul, #00a65a); /* Standard syntax */
}

/*FILER*/
.jFiler-theme-default .jFiler-input {
    position: relative;
    display: block;
    width: auto !important;
    height: 8rem !important;
    margin: 19px 0 15px 0;
    background: #fefefe;
	border: 7px solid #72a84f;
    font-size: 12px;
    font-family: sans-serif;
    color: #888;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: rgba(0,0,0,.25) 0 4px 5px -5px inset;
    -moz-box-shadow: rgba(0,0,0,.25) 0 4px 5px -5px inset;
    box-shadow: rgba(0,0,0,.25) 0 4px 5px -5px inset;
}

.alert-palmas{
	background-color:@color;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #72a84f !important;
}

.jFiler-theme-default .jFiler-input-button {
    display: block;
    float: right;
    height: 100%;
    padding-top: 2rem !important;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #72a84f;
    color: #ffffff;
	font-weight:bold !important;
    text-align: center;
    background-color: #72a84f;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#72a84f),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#72a84f,#f1f1f1);
    background-image: -o-linear-gradient(top,#72a84f,#f1f1f1);
    background-image: linear-gradient(to bottom,#72a84f,#f1f1f1);
    background-image: -moz-linear-gradient(top,#72a84f,#f1f1f1);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

/*CHANGE BOOTSTRAP*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: @colorpagina !important;
  border-color: @colorpagina !important;
}

/*
inspired from http://codepen.io/Rowno/pen/Afykb
*/

.carousel-fade .carousel-inner .item {
  opacity: 0;transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;opacity: 0;z-index: 1;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;-webkit-transform:  translate3d(0, 0, 0);-o-transform:  translate3d(0, 0, 0);-moz-transform:  translate3d(0, 0, 0);transform:  translate3d(0, 0, 0)translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;-webkit-transform:  translate3d(0, 0, 0);-o-transform:  translate3d(0, 0, 0);-moz-transform:  translate3d(0, 0, 0);transform:  translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
		opacity: 1;-webkit-transform:  translate3d(0, 0, 0);-o-transform:  translate3d(0, 0, 0);-moz-transform:  translate3d(0, 0, 0);transform:  translate3d(0, 0, 0);
    }
}

/**/
.fondo-tr{
	background-color:white !important;
}

.color-td{
	color: #000000 !important;
}

.text-white{
	color:#ffffff !important;
}

.logo-left{
	left: 1rem;
	position: relative;
}

.border-div{
	border: 10px solid @colorborder;
	border-radius: 3rem;
	padding: 3rem;
}

.box-image{
	border: 7px solid @colorborder;
	border-radius: 1rem;
}

.eventosc-box-picture{
	max-width: 1140px;
	max-height: 400px;
}

.box-avatares{
	border: 7px solid #72a84f;
}

.box-promociones{
	width: 375px !important;
	height: 350px !important;
	.center;
}

.box-paises{
	.center;
	background-color:#ff8300;
	font-weight:bold;
}

.box-salud{
    width: 1368px !important;
    height: 200px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.box-interna{
    width: 500px !important;
    height: 500px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.box-dimensiones {
	height:35rem;
}

.position-right{
	float:right;
}

.div-space{
	padding: 1rem;
}

.div-space-form{
	padding: 4rem;
}

.form-border{
	border: 7px solid @colorborder;
	height: 5rem;
}

.fileuploader{
	border: 7px solid @colorborder;
}

.note-editor.note-frame {
    border: 7px solid @colorborder !important;
}

.icon-space{
	top: 32px !important;
	right: 4rem;
}

.row-lsize-6{
	float: left;
	width: 35rem;
}

.col-position{
	position: relative;
	right: 3rem;
}

.row-rsize-6{
	float: right;
	width: 35rem;
}

.col-fixed-padding{
	padding-left:1rem;
	padding-right:1rem;
}

.icon-space-form{
    top: 32px !important;
    right: 4rem;
}

.login-div{
	width: 40rem;
	height: 30rem;
}

.spacing-padding{
	padding: 10.7rem;
}

.spacing-padding-inner{
	padding: 5.7rem;
}

.center{
	display:block !important;
	margin-left:auto;
	margin-right:auto;
}

.title-palmas{
	color:@colorhover;
}

.btn-palmasinn{
	border: 2px solid @colorborder;
	color:@color;
	padding:1rem;
	background-color:white;
	position: relative;
	width: 14rem;
	border-radius: 2rem;
}

.btn-palmasinn:hover, .btn-palmasinn:focus{
	border: 2px solid @colorborderhover;
	background-color:@colorborder;
	color:@colorhover;
}

.icon-btn{
	display: block;
}
