.btn-reserva:hover{
	text-shadow: 1px 0 3px #FFF;
}

#inicio_{
	::-webkit-input-placeholder { color: #58585b; } /* WebKit */
	::-moz-placeholder { color: #58585b; } /* Firefox 19+ */
}

#bookingpalmasin{
	min-height: 50px !important;
	width: 100% !important;
	position: absolute !important;
	top: 115px!important;
	left:0 !important;
	right:0 !important;
	z-index: 1001 !important;
	background-color: rgba(255,255,255,.9) !important;
}
#bookingpalmasin>form{
	padding:10px 0;
}
#bookingpalmasin .bpalmas{
	background-color: transparent!important;
	opacity: .6!important;
	border: 1px solid #72a84f;
	height: 30px!important;
}
#bookingpalmasin .input-group .input-group-addon {
	border: none!important;
	background-color: transparent!important;
}	
#bookingpalmasin .form-checkinout{max-width:125px!important;display: inline-block!important;}
#bookingpalmasin .form-checkinout > .input-group{display: flex;margin-right: .25rem;}

#bookingin{max-width: 1280px!important;display: flex!important;justify-content: center!important;flex-wrap: wrap!important;margin: 0 auto!important;}

#bookingpalmasin .btn-buscar{
	background-color: #72a84f;
	color: #FFF;
}
#bookingpalmasin .sel-habi{
	border-left: 1px solid #72a84f;
	border-right: 1px solid #72a84f;
	padding-left: 5px;
}
#bookingpalmasin .input-group-addon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	width: 35px;
	height: 30px;
}
.calendar{
	background-image: url(../img/calendariobooking.svg);
	width: 40px!important;
}
.habitad{
	background-image: url(../img/camabooking.svg);
	width: 40px!important;
}
.adult{
	background-image: url(../img/adultobooking.svg);
}
.kid{
	background-image: url(../img/jovenbooking.svg);
}
.baby{
	background-image: url(../img/bebebooking.svg);
}
.form-btnb{min-width: 238px;display: flex;justify-content: center;}
.form-btnb > img{padding-left: .25rem!important;}
/*flatpickr - custom css*/
.flatpickr-input{min-width: 85px;}
.flatpickr-month>span{height: 50px!important;padding-top:15px;}
.flatpickr-day {border-radius: 0px!important;}
.flatpickr-day.today {border-color: #72a84f!important;}	
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
	background: #72a84f!important;
	box-shadow: none;
	color: #fff;
	border-color: #72a84f!important;
}
.flatpickr-month{
	height: 50px!important;
	background-color: #72a84f!important;
	fill: #FFF!important;
	color: #FFF!important;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after{
	color: #FFF!important;
	border-bottom-color: #FFF!important;
}
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
	color: #FFF!important;
	border-top-color: #FFF!important;
}
.flatpickr-prev-month:hover svg, .flatpickr-next-month:hover svg {
	fill: #FFF!important;
}
.flatpickr-next-month,.flatpickr-prev-month{line-height: 25px!important;}

@media (max-width: 991px){
	.form-btnb{
		margin-top: .5rem;
	}
}
@media (max-width: 767px){
	#bookingpalmasin{
		display:none;
	}
}