#habitad_list img {max-width:190px!important;margin-bottom:10px;}
#habitad_list tr>td:nth-child(2),#habitad_list tr>td>div.row.form-group.position-right{height:100%;}
#habitad_list tr>td>div.row.form-group.position-right{display:table;}
#habitad_list tr>td>div.row.form-group.position-right>div[class*=col-]{display:table-cell;vertical-align:middle;float:initial;}