@verdeppal:#72a84f;
@gris:#717071;
/*====================*/
.banner_palmasinn{position:relative;}
.banner_palmasinn>a{position:absolute;bottom:42px;right:42px;width:198px;height:198px;background-image:url(../img/elhotel/trip.png);}
/*====================*/
.center{
	display:block !important;
	margin-left:auto !important;
	margin-right:auto !important;
}

.fixed-booking{
	.center;
}

.fixed-left{
	left: 4rem;
	top: 7rem;
	position: absolute;
}

.fixed-btn, .fixed-btn:hover{
	margin-top: 5px;
	background-color: transparent;
	border: 1px solid #FFF;
	color: #FFF;
}

.fixed-contenedor{
	position: relative;
	top: -11rem;
	background-color: white;
	width: 1024px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 860px;
	padding:3rem;
	.center;
}
.fixed-contenedor div.col-xs-12{padding:0;}
#regersar{padding:6px 6px 6px 40px;color:@verdeppal;background-image:url(../img/back.svg);background-position-y:6px;background-position-x:15px;background-size:contain;background-repeat:no-repeat;margin:40px auto 20px;display:block;max-width:750px;}
#regersar:hover,#regersar:focus{color:@verdeppal;}

.tituloitalic{color:@verdeppal;}
.widthitoria{max-width:900px;margin-left:auto;margin-right:auto;}
#historia{margin-top:60px;}
#historia .tituloitalic.text-center{margin:0;background-image:url(../img/elhotel/lineagris.svg);background-repeat:no-repeat;background-position:center bottom;}
#historia .tituloitalic{line-height:34pt;}
#historia>div[class*='col-']:nth-child(2)>p{line-height:17pt;padding-top:12pt;margin-bottom:20px;.widthitoria}
#historia>div[class*='col-']:nth-child(3)>div.row{.widthitoria}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(1){padding-left:0;padding-right:2.5px;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(2){padding-right:0;padding-left:2.5px;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(1)>div:nth-child(1){margin-bottom:2.5px;height:400px;position:relative;border:2px solid @verdeppal;display:table;width:100%;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(1)>div:nth-child(2){margin-top:2.5px;height:220px;position:relative;background-position:bottom center;position:relative;overflow:hidden;cursor:pointer;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(2)>div{height:310px;position:relative;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(2)>div:nth-child(1){margin-bottom:2.5px;background-position:bottom center;position:relative;overflow:hidden;cursor:pointer;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(2)>div:nth-child(2){margin-top:2.5px;background-position:bottom center;position:relative;overflow:hidden;cursor:pointer;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(1)>div:nth-child(1)>div{display:table-cell;vertical-align:middle;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(1)>div:nth-child(1)>div>p.tituloitalic.text-center{background-image:none;max-height:90px;overflow:hidden;}
#historia>div[class*='col-']:nth-child(3)>div.row>div[class*='col-']:nth-child(1)>div:nth-child(1)>div>div{position:relative;height:291px;overflow:hidden;margin:0 24pt;}
#historia .contentparrafo{overflow-y:scroll;overflow-x:hidden;max-height:100%;position:absolute;top:0;left:0;right:-17px}
#historia .galeriahistoria_over{background-color:rgba(0,0,0, 0.6);width:100%;height:100%;padding:24pt;position:absolute;top:100%;opacity:0;filter:alpha(opacity=0);}
#historia .galeriahistoria_over>div{border:1px solid #FFF;height:100%;width:100%;display:table;}
#historia .galeriahistoria_over>div>div{display:table-cell;vertical-align:middle;}
#historia .galeriahistoria_over>div>div>p{margin-bottom:10px!important;color:#FFF;background-image:url(../img/elhotel/lineatituloblanco.svg)!important;}
#historia .galeriahistoria_over>div>div>ul{margin:0;}
#historia .galeriahistoria_over>div>div>ul>li>button,#historia .galeriahistoria_over>div>div>ul>li>a{margin-top:5px;background-color:transparent;border:1px solid #FFF;color:#FFF;}

#comerciales{margin-top:40px;max-width:1370px;margin-left:auto;margin-right:auto;}
#comerciales>div[class*='col-']{height:300px;padding-left:0;padding-right:24pt;display:table;}
#comerciales>div[class*='col-']>div[class*='col-']{display:table-cell;vertical-align:middle;float:initial;}
#comerciales>div[class*='col-']>div[class*='col-']>a{font-style:italic;color:#FFF;max-width:300px;padding-bottom:40px;background-image:url(../img/elhotel/comerciales/comerciales_icon.svg);background-repeat:no-repeat;background-position:bottom center;}

#galeria{margin-top:40px;max-width:1370px;margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px;}
#galeria>div[class*='col-']{height:440px;padding:0;}
#galeria>div[class*='col-']>div{height:440px;padding:0;max-width:1140px;margin-left:auto;margin-right:auto;}

#centroempresarial .controls{z-index:800;}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    width: 100% !important;
    height: auto;
}

.carousel-inner.vertical{height: 100%;padding-bottom:5px;}
#carousel-example-generic .carousel-inner.vertical.onebyone-carosel{height:440px;width:100%;}
#carousel-example-generic .item{position:relative;height:100%;}
#carousel-example-generic .item a{box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.5);}
#carousel-example-generic .item>a:nth-child(1){position:absolute;top:0;left:0;right:0;z-index:4;}
#carousel-example-generic .item>a:nth-child(2){position:absolute;top:36px;left:20px;width:~"calc(100% - 40px)";z-index:3;}
#carousel-example-generic .item>a:nth-child(3){position:absolute;top:96px;left:80px;width:~"calc(100% - 160px)";z-index:2;}

#carousel-example-generic>.controls{position:absolute;top:0;left:25px;width:140px;height:70px;background-color:rgba(112,113,112,.8);border-radius:0px 0px 70px 70px;}
#carousel-example-generic>.controls>a.background_img{width:40px;height:24px;display:block;float:left;margin-top:18px;}
#carousel-example-generic>.controls>a.background_img:nth-child(1){margin-left:30px;}
#carousel-example-generic>.controls>a.background_img.chang_right{background-image:url(../img/elhotel/arriba.svg);}
#carousel-example-generic>.controls>a.background_img.chang_left{background-image:url(../img/elhotel/abajo.svg);}

#ubicacion{margin-top:40px;display:table;width:100%;}
#ubicacion>div[class*='col-']{float:initial;height:400px;padding:0;display:table-cell;vertical-align:middle;}
#ubicacion>div[class*='col-']>div{display:table;width:400px;height:270px;background-color:@verdeppal;color:#FFF;margin-left:auto;margin-right:auto;}
#ubicacion>div[class*='col-']>div>div{display:table-cell;vertical-align:middle;}
#ubicacion>div[class*='col-']>div>div>a.background_img{width:50px;height:50px;margin-bottom:20px;margin-left:auto;margin-right:auto;display:block;}
#ubicacion>div[class*='col-']>div>div>p{font-family:Lato-Light;margin:0;background-image: url(../img/elhotel/lineatituloblanco.svg);background-repeat:no-repeat;}
#ubicacion>div[class*='col-']>div>div>p:nth-child(2){padding-top:20px;background-position:center top;}
#ubicacion>div[class*='col-']>div>div>p:nth-child(3){padding-bottom:20px;background-position:center bottom;}

#contacto{min-height:330px;background-color:@gris;margin-bottom:10px;}
#contacto.row>div[class*='col-']:nth-child(1)>p{text-transform:uppercase;color:#FFF;margin:0;padding-top:20px;padding-bottom:5px;background-image:url(../img/elhotel/lineatituloblanco.svg);background-repeat:no-repeat;background-position:center bottom;}
#contacto.row>div[class*='col-']:nth-child(2){padding:0;}
#contacto.row>div[class*='col-']:nth-child(2)>form{padding-top:42.5px;font-family:Lato-Light;}

#nombre,#apellido{text-transform:capitalize;}

.inputpalmasinn{background-color:transparent;border:2px #FFF solid;border-radius:0px;-webkit-box-shadow: inset 0 0px 0px transparent;box-shadow: inset 0 0px 0px transparent;color:#FFF;}
.inputpalmasinn:hover,.inputpalmasinn:focus{border:2px @verdeppal solid;}
.inputpalmasinn::-webkit-input-placeholder{color:#FFF;}
.inputpalmasinn::-moz-placeholder{color:#FFF;}
.inputpalmasinn::-ms-input-placeholder{color:#FFF;}

#btn-enviar{text-transform:uppercase;margin-top:15px;margin-left:auto;margin-right:auto;display:block;background-color:transparent;border:2px #FFF solid;border-radius:0px;color:#FFF;}

#contactoelhotel{margin-bottom:25px}
/*===================RADIO-BTN=========================*/
#contactoelhotel label.radio-inline{padding-left:0px!important;}
#contactoelhotel label input[type="radio"]{opacity:0;margin-left:0px!important;}
#contactoelhotel label input[type="radio"] ~ i.fa.fa-square-o{color: #FFF;display:inline;padding-right:5px;}
#contactoelhotel label input[type="radio"] ~ i.fa.fa-square{display: none;}
#contactoelhotel label input[type="radio"]:checked ~ i.fa.fa-square-o{display: none;}
#contactoelhotel label input[type="radio"]:checked ~ i.fa.fa-square{color: #FFF;display:inline;padding-right:5px;}
#contactoelhotel label:hover input[type="radio"] ~ i.fa {color: #FFF;}
#contactoelhotel label {color: #FFF;}
#contactoelhotel .radio-inline{margin-left:10px;}
/*=====================MODAL=======================*/
#wait{cursor:pointer;font-style:initial;font-family:Lato-Regular;color:@verdeppal;}
#btn-envpromo,#btnClose-envpromo{width:200px;height:50px;background-color:transparent;border:2px @verdeppal solid;color:@verdeppal;}
#btn-envpromo:hover,#btn-envpromo:focus,#btnClose-envpromo:hover,#btnClose-envpromo:focus{background-color:@verdeppal;color:#FFF;}
#btn-envpromo:disabled:hover,#btn-envpromo:disabled:focus{background-color:transparent;color:@verdeppal;}
#btnClose-envpromo{float:right;display:none;}
#modalEventospalmas .modal-content{padding:10px;border-radius:0px;}
#modalEventospalmas .modal-header{border:4px @verdeppal solid;border-bottom:none;}
#modalEventospalmas .modal-body{border:4px @verdeppal solid;border-top:none;}
#modalEventospalmas .modal-header>i{float:right;color:#texto;}
#spin{display:none;}
#modalEventospalmas .modal-header p{color:@verdeppal;text-align:center;}
#modalEventospalmas .btn{width:200px;height:50px;background-color:transparent;border:2px @verdeppal solid;color:@verdeppal;margin-top:15px;display:inline-block;}
#modalEventospalmas .btn:hover,#modalEventospalmas .btn:focus{background-color:@verdeppal;color:#FFF;}
#modalEventospalmas .btn:disabled:hover,#modalEventospalmas .btn:focus{background-color:transparent;color:@verdeppal;}
/*===== Modal Eventos corporativos =====*/
span.text-danger.pull-right{display:none;}

@media (max-width: 1199px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 440px;}
}
@media (max-width: 1099px){
}
@media (max-width: 1024px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 410px;}

	.fixed-contenedor{width:95%;padding:3rem 0;}

}
@media (max-width: 991px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 400px;}
}
@media (max-width: 960px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 380px;}
}
@media (max-width: 767px){
	#historia>div[class*=col-]:nth-child(3){max-width:440px;margin-left:auto;margin-right:auto;float:initial;}
	#historia .contentparrafo{height:auto;position:relative;padding-bottom:24pt;overflow:hidden;}
	#historia>div[class*=col-]:nth-child(3)>div.row>div[class*=col-]:nth-child(1)>div:nth-child(1)>div>div,#historia>div[class*=col-]:nth-child(3)>div.row>div[class*=col-]:nth-child(1)>div:nth-child(1){height:auto;}
	#historia>div[class*=col-]:nth-child(3)>div.row>div[class*=col-]:nth-child(1)>div:nth-child(1){margin-bottom:5px;}
	#historia>div[class*=col-]:nth-child(3)>div.row>div[class*=col-]:nth-child(1)>div:nth-child(1)>div>p.tituloitalic.text-center{padding-top:24pt;}
	#historia>div[class*=col-]:nth-child(3)>div.row>div[class*=col-]:nth-child(2){padding-left:0;padding-top:5px;}
	#historia>div[class*=col-]:nth-child(3)>div.row>div[class*=col-]:nth-child(2)>div:nth-child(2){margin-top:5px;}
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel{height: 320px;}
	#contacto form{padding-bottom:20px;}
}
@media (max-width: 640px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 270px;}
}
@media (max-width: 568px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 250px;}
}
@media (max-width: 543px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {height: 240px;}
	#carousel-example-generic{padding-top:70px;}
	#carousel-example-generic>.controls{left:0;right:0;margin-left:auto;margin-right:auto;border-radius:70px 70px 0px 0px;}
	#carousel-example-generic>.controls>a.background_img{margin-top:28px!important;}
}
@media (max-width: 449px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {height: 200px;}
	#ubicacion>div[class*=col-]>div{width:~"calc(100% - 30px)";}
}
@media (max-width: 360px){
	#galeria>div[class*=col-],
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 170px;}
}
@media (max-width: 320px){
	#galeria>div[class*=col-]>div,
	#carousel-example-generic .carousel-inner.vertical.onebyone-carosel {
    height: 160px;}
	#galeria>div[class*=col-]{height: 260px;}
}
