@font-face {
    font-family:Lato-Light;src: url(../fonts/lato/Lato-Light.ttf);
}
body{font-family:Lato-Light;font-size:18pt;line-height:22pt;color:#FFF;max-width:1920px;margin:0 auto;}
body>div.row:nth-child(1){height:100%;background-image:url(../img/404laspalmas.jpg)!important;background-size:100% auto!important;background-position:center right!important;background-repeat:no-repeat!important;}
body>div.row:nth-child(1)>div[class*='col-']{top:80%;}
body a,body a:hover,body a:focus{color:#FFF;}
@media (max-width: 1199px){
	body>div.row:nth-child(1){background-size:auto 100%!important;}
}
@media (max-width: 349px){
	body>div.row:nth-child(1){background-position-x:-390px!important;}
}

  