@verde:#72a84f;
@gris:#717071;
/*=======================================================*/
.alert-info{background-color:@verde!important;border-color:@verde!important;}
.jFiler-input{margin:0px!important;border-radius: 0 0 1rem 1rem!important;}
.box-image{border-radius: 1rem 1rem 0 0!important;background-color:@verde;height:290px;position:relative;}
.box-file{border-radius: 0 0 1rem 1rem!important;padding:0;}
.box-image>img{display:block;max-width:100%;height:auto;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-height:100%;max-width:100%;}
.selres.active{border: 2px solid #5d8940;background-color:#72a84f;color:#fff;}