.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box-picture{
	width: 100rem !important;
	height: 20rem !important;
}

.galeria-picture {
    width: 100rem !important;
    height: auto !important;
    max-height: 43rem !important;
}

.fixed-galeria-sliders{
	border: 7px solid #72a84f;
	border-radius: 1rem;
	min-height: 50rem;
	height: auto !important;
}

.proyectos-box-picture {
    width: 100rem !important;
    height: 30rem !important;
}

.box-list{
	width: 40rem !important;
	height: 20rem !important;
}