@verde:#72a84f;
@gris:#717071;
/*===================CHECKBOX-BTN=========================*/
.box-image label input[type="checkbox"]{opacity:0;margin-left:0px!important;}
.box-image label input[type="checkbox"] ~ i.fa.fa-square-o{color: #FFF;display:block;padding-right:5px;}
.box-image label input[type="checkbox"] ~ i.fa.fa-check-square-o{display: none;}
.box-image label input[type="checkbox"]:checked ~ i.fa.fa-square-o{display: none;}
.box-image label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{color: #FFF;display:block;padding-right:5px;}
.box-image label:hover input[type="checkbox"] ~ i.fa {color: #FFF;}
/*=======================================================*/
.alert-info{background-color:@verde!important;border-color:@verde!important;}
.jFiler-input{margin:0px!important;border:none!important;}
.box-image{border-radius: 1rem 1rem 0 0!important;}
.box-file{border:7px solid @verde;border-radius: 0 0 1rem 1rem!important;}
div.box-image{background-color:@verde;position:relative;padding-top:97%!important;}
div.box-image>img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-height:100%;width:auto;max-width:100%;display:block;}
div.box-image>label{position:absolute;top:0;left:0;right:0;bottom:0;margin:0;padding:0;height:100%;width:100%;z-index:1000;}
div.box-image>label>i{padding:10px;background-color: rgba(114,168,79,.5);}
div.box-image,div.box-file{padding:0px;}
#conten_galeria>div[class*=col-]{margin-top:15px;}
button.delmy{color:#FFF;position:absolute;top:10px;right:10px;width:42px;height:42px;background-color:transparent;border:none;}

.delimage{position:absolute;top:0;left:0;width:100%;height:62px;padding:10px;background-color:rgba(114,168,79,.5);z-index:100;}

.box-hover-border:hover{
	border: 1rem solid white;
}

.display-flex{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.flex-center{
  .display-flex;
  align-content: center;
  justify-content: center;
}