@colorborder:#72a84f;
@colorfondo:#707170;
@ancho:500px;
@altura:500px;

body{padding-right:0px !important;}

.modal-open {
    overflow: inherit !important;
}

.modal-border{
	border: 10px solid @colorborder;
	border-radius: 3rem;
	padding: 3rem;
	width: 65rem;
}

.modal-color{
	background-color:@colorfondo;
}

.modal-header .close {
    margin-top: -31px !important;
}

.modal-dimensiones{
	min-width: @ancho;
	min-height: @altura;
}