.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box-picture{
	width: 100rem !important;
	height: 20rem !important;
}

.box-list{
	width: 40rem !important;
	height: 20rem !important;
}

.fileuploader{
	width:100% !important;
	.center;
}

.note-editing-area{
	word-wrap: break-word;
}